// Bootstrap mixins
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// Style for elements in base.pug.
@import 'variables';

// Main element dimensions/margins/etc.
$main-element-padding: 30px;
$nav-height: 70px;
$footer-height: 170px;
$content-min-height: calc(100vh - (#{$nav-height} + (2 * #{$main-element-padding}) + #{$footer-height}));

body {
  .icon-link {
    &,
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $ncas-40-grey;
      text-decoration: none;
    }

    &:hover {
      color: $ncas-teal;
    }
  }

  #navbar {
    background: $ncas-white;
    height: $nav-height;
    box-shadow: 0 3px 3px $ncas-90-grey;
    white-space: nowrap;

    .navbar-brand {
      img {
        $nav-image-height: 0.7 * $nav-height;

        height: $nav-image-height;
      }
    }

    .navbar-collapse {
      @include media-breakpoint-down(md) {
        background-color: $ncas-white;

        &.show, &.collapsing {
          margin-left: -$navbar-padding-x;
          margin-right: -$navbar-padding-x;
          padding-left: $navbar-padding-x;
          padding-right: $navbar-padding-x;
          max-height: calc(var(--vh, 1vh) * 100 - #{$nav-height});
          box-shadow: 0 3px 3px $ncas-90-grey;
          z-index: 9001;
          overflow: scroll;

          #navbar-staff-dropdown-menu {
            margin-bottom: 10px;
          }

        }
      }

      #navbar-block-links:not(:empty){
        border-right: 0.5px solid $ncas-60-grey;

        @include media-breakpoint-down(md) {
          border-right: none;
          border-bottom: 0.5px solid $ncas-60-grey;
        }
      }

      .navbar-nav {
        padding-left: 10px;
        padding-right: 10px;

        @include media-breakpoint-down(md) {
          padding-left: 0;
          padding-right: 0;
        }

        &:first-of-type {
          padding-left: 0;
        }

        &:last-of-type {
          padding-right: 0;
        }
      }

      .nav-item {
        &:last-of-type {
          margin-right: 0;
        }

        a {
          border-bottom: $border-size solid $transparent;
        }

        a.active {
          border-bottom: $border-size solid $ncas-purple;
        }
      }
    }
  }

  #content {
    $content-padding: 100px;

    margin-top: $nav-height + $main-element-padding;
    margin-bottom: $main-element-padding;
    padding-left: $content-padding;
    padding-right: $content-padding;
    min-height: $content-min-height;

    @include media-breakpoint-down(md) {
      padding-left: 0.5 * $content-padding;
      padding-right: 0.5 * $content-padding;
    }

    @include media-breakpoint-down(xs) {
      padding-left: 0.25 * $content-padding;
      padding-right: 0.25 * $content-padding;
    }

    &::before {
      $background-image: url('/img/NCAS_Logo_Website-Background.png');
      $background-opacity: 0.07;
      $background-size: 90%;

      background: $primary-background-color $background-image no-repeat center fixed;
      content: '';
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      background-size: $background-size;
      opacity: $background-opacity;
    }

    section {
      $section-padding: 10px;
      $section-margin-bottom: 50px;

      border-left: $border-size solid $transparent;
      padding-left: $section-padding;
      padding-right: $section-padding;
      margin-bottom: $section-margin-bottom;

      @include media-breakpoint-down(xs) {
        padding-left: 0;
        padding-right: 0;
      }

      @include media-breakpoint-up(lg) {
        &:hover {
          border-left: $border-size solid $ncas-teal;

          & > h1 {
            color: $ncas-teal;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $ncas-60-grey;
        font-weight: bold;
        margin-bottom: 15px;
      }

      h1 {
        font-size: 26px;
      }

      h2 {
        font-size: 24px;
      }

      h3 {
        font-size: 20px;
      }

      p {
        color: $secondary-font-color;
      }
    }
  }

  footer {
    $footer-internal-margin: 10px;
    $footer-internal-padding: 5px;

    height: $footer-height;
    color: $ncas-40-grey;
    background-color: $secondary-background-color;
    border-top: $border-size solid $accent-color;
    text-align: center;
    font-size: $footer-font-size;
    padding-top: $footer-internal-padding;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .icon-box {
      margin-top: $footer-internal-margin;
      margin-bottom: $footer-internal-margin;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .icon-set {
        margin-right: $footer-internal-margin;
        margin-bottom: $footer-internal-margin;

        &:last-of-type {
          margin-right: 0;
          margin-bottom: 0;
        }
      }

      .icon-link {
        margin-right: $footer-internal-margin;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    p {
      margin: 0;
    }

  }
}
