// Global website style. Also import individual components.
@import 'about';
@import 'base';
@import 'events';
@import 'staff';
@import 'variables';
@import 'member-code-of-conduct';
@import url($font-url);

body {
  font-family: $font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
  background-color: $primary-background-color;
  position: relative;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;

  .card,
  .list-group-item {
    background-color: transparent;
  }
}
