// Global website style. Also import individual components.
@import 'base';
@import 'index';
@import 'variables';
@import 'about';
@import 'staff';
@import url($font-url);

body {
  font-family: $font-family;
  font-size: $primary-font-size;
  color: $primary-font-color;
  background-color: $primary-background-color;
  position: relative;

  .card {
    background-color: transparent;
  }
}
