// Staff style

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';
@import 'variables';

#president-and-directors {
  .icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid $ncas-60-grey;

    @include media-breakpoint-down(sm) {
      width: 100px;
      height: 100px;
    }
  }
}
