extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#staff-application") Staff Application

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#volunteer-interest') Volunteer Interest

block content

    section(id='staff-application' title='Staff Application')

        h1 Staff Application

        p.
            Have you reviewed our mission statement and love what NCAS is about? Do you want to join us? (We might
            have cookies.) We’re looking for more like-minded souls that share our values to aid in our quest!
        p.
            NCAS is currently seeking more staff volunteers to help out in year-round and event-specific roles. 
            Positions with us are unpaid, and do not have hard schedules or time requirements. However, accepting a 
            staff volunteer position reflects a serious commitment to help NCAS achieve our goals. If you have any 
            questions about how you can help NCAS, our human resources department will be happy to answer them. Send 
            an email to #[a(href='mailto:hr@ncanthrosociety.org') hr@ncanthrosociety.org] and one of our attentive 
            volunteers will get back to you.
        p. 
            As a token of our appreciation, all NCAS staff receive several perks for our conventions:
        ul 
            li Free general registration to Bewhiskered and Carolina Furfare, or a corresponding discount on sponsor, super sponsor, and fursona level tiers should you choose to upgrade. 
            li Priority access to the hotel room block.
            ul
                li Early access for room reservations.
                li Room placed on the staff floor of the hotel.
                li (For staff working during the convention) Ability to apply for need-based assistance with the cost of a hotel room.
            li Merchandise
            ul
                li Staff-only merchandise, such as a staff t-shirt. Merch and availability may fluctuate between conventions.
                li Staff that participate in any part of the production process for merchandise in the con-store can purchase that item at-cost.
            li Ability to apply for staff dealer tables in the dealers den. 
            li Access to the staff lounge or other staff resources, depending on availability and venue.
        p.

            Are you ready to sign up? View the list of open positions and fill out an application today! Our human resources 
            department will reach out to you after receiving your application.
        br 

        div(class=`container-fluid`)
            div(class=`row row-cols-1 row-cols-md-2`)
                div(class='col mb-4')
                    a(class='btn btn-block btn-outline-primary' href="https://docs.google.com/document/d/1iGX9aGj9-4zrZIjezsF2UBI9m1Y5WFlPh215GGWHQmo/edit?usp=sharing")="Open Positions"
                div(class='col mb-4')
                    a(class='btn btn-block btn-outline-primary' href="https://forms.gle/mqspAoLYGjKTLG6NA")="Staff Application"
        
        p.
            Please note, at this time you must be 18 years of age or older to be a staff volunteer. If you are 
            interested in helping us before turning 18, please have a look at our per-event volunteering opportunities. 
            Volunteer applications are announced on our social media and on event-specific pages.

    section(id='volunteer-interest' title='volunteer-interest')

        h1 Volunteer Interest

        p.
            Not quite ready to make the leap to being staff? That's fine! We're looking for volunteers too. 
            Volunteering is currently on a per-event basis and applications will be announced on our social media. 
            See #[a(href='/') our home page] for our primary social media accounts.

        p.
            Volunteers for Bewhiskered and Carolina Furfare that go above and beyond will receive gifts of appreciation as a 
            thank you from the convention. While these gifts vary from year to year, they traditionally include a themed gift 
            of some kind, a convention t-shirt, and comped reg for a future convention.
        
