extends /pug/templates/base

block content

    section(id='president-and-directors' title='NCAS Staff')

        h1 Meet the president and directors of NCAS!

        p
            | Our members are the most important part of NCAS. Here you will find a listing of our president and
            | operations directors who all work together in making the magic happen. This list is not exhaustive and
            | does not include all of our amazing staff and volunteers. To all our staff and volunteers, thank you for
            | the honor and privilege to be able to work with you in bringing it all together!

        div(class='row row-cols-1 row-cols-xl-2')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') President
                    div(class='card-body')
                        h1(class='card-title mb-4') Faelan
                        img(class='icon float-left' src='/img/director-icons/faelan.png' alt='faelan')
                        p(class='card-text')
                            | Hey there! I’m just your average internet wolf with an occasional presence in the
                            | physical world, although I also sometimes dabble in arcane human activities like science
                            | and computers. And computer science. Joining the community is just about the best thing
                            | I’ve ever done. It has helped me make so many incredible friends over the years, and I
                            | would not be the person I am today without them. I am super excited to be working with
                            | NCAS because it means I get the chance to give back to the community. Let’s go out there
                            | and do great things!
                    div(class='card-footer')
                        | The president is responsible for the business operations of the organization and for
                        | implementing decisions and initiatives from the board of directors.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Entertainment
                    div(class='card-body')
                        h1(class='card-title mb-4') Mikey
                        img(class='icon float-left' src='/img/director-icons/mikey.jpg' alt='Mikey')
                        p(class='card-text')
                            | Though I've only been active in the fandom since 2011, I have been watching shows with
                            | anthropomorphic characters since the late 80's! (Before you say anything, I'm not THAT
                            | old!)  Professionally, I work as a Recruiter, with a background  in Performance and Media
                            | Studies, and Event Planning. Since joining the fandom back in 2011, I have met some
                            | incredibly talented people (or fuzzbutts) that I have the honor of calling friends! Can't
                            | wait to see in helping NCAS grow their events and help put on events you'll be awestruck
                            | by!
                    div(class='card-footer')
                        | Entertainment handles all activities, entertainment spaces, and immersive experiences at an
                        | event.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Vice President, Bewhiskered Director, Director of Event Administration
                    div(class='card-body')
                        h1(class='card-title mb-4') Merc
                        img(class='icon float-left' src='/img/director-icons/merc.png' alt='Merc')
                        p(class='card-text')
                            | I’ve been active in the community for about a decade and have gotten to meet some amazing
                            | people from it!  My background is in technology, business management, process improvement,
                            | and doing it yourself! In my role with NCAS I am putting all of that to use and have the
                            | pleasure of working with a great team that’s growing every day!
                    div(class='card-footer')
                        | #[a(href='https://bewhiskeredcon.org') Bewhiskered] is our convention in Durham, NC.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Marketing and PR
                    div(class='card-body')
                        h1(class='card-title mb-4') Maxx
                        img(class='icon float-left' src='/img/director-icons/maxx.jpg' alt='Maxx')
                        p(class='card-text')
                            | I’m a full time furry living my dream of bringing furries together. I work within the
                            | fandom and have my paw in my many furry things around North Carolina. My passion for
                            | social media goes beyond being a digital native and was my main focus while in college.
                            | Looking forward to brightening up your newsfeeds!
                    div(class='card-footer')
                        | Marketing is responsible for the research, planning, and implementation of marketing
                        | campaigns as well as all community and public relations efforts.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Media Production
                    div(class='card-body')
                        h1(class='card-title mb-4') Nullstrukt
                        img(class='icon float-left' src='/img/director-icons/nullstrukt.jpg' alt='Nullstrukt')
                        p(class='card-text')
                            | I officially found the fandom back in 2009, but was interested in anthro art and
                            | characters for as long as I could remember. Through the years of being in the fandom I
                            | have made some incredible friends and met so many awesome and inspiring people!
                            | Professionally I am a designer and developer by trade, and I also have been DJing for
                            | nearly as long as I've been in the fandom. I am super stoked to be helping establish some
                            | fun events for everyone and to be working with such a great group of folks!
                    div(class='card-footer')
                        | Media production is responsible for the recommendation, planning, and production of all types
                        | of media.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Vendor Relations
                    div(class='card-body')
                        h1(class='card-title mb-4') Fizzle
                        img(class='icon float-left' src='/img/director-icons/fizzle.jpg' alt='Fizzle')
                        p(class='card-text').
                            Hello hello! My name is Fizzle, and I've been active in the community for about 8 years now. Ever since joining the fandom I've always held a special place in my heart for dealers, artists, and anyone of that nature who vends at our cons, they are the heart of it after all. Making sure they get what they need to succeed is something my team always strives to do, and I'm excited to continue hosting more and more vendors as we grow as an organization. When I'm not dealing with dealers/vendors, I spend my time working to become an actuary (think risk management for insurance). As such, you'll often find me at home buried under spreadsheets, stats programs, and study materials for actuarial exams. Super excited to help NCAS grow through vendor relations, and to meet more of this wonderful community, both locally and internationally!
                    div(class='card-footer').
                        Vendor relations is responsible for interfacing with and supporting all of our vendors, from
                        the dealers in our dealers den to the venues we host our events at.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Carolina Furfare Director
                    div(class='card-body')
                        h1(class='card-title mb-4') Major
                        img(class='icon float-left' src='/img/director-icons/major.png' alt='Major')
                        p(class='card-text')
                            | Hiya! I first found the Furry community around 2012 when I decided to join a local
                            | LARP—the thought of playing a human or elf just bored me, so I decided to forget the
                            | meaning of heat stroke and learn how to sew instead! After a few years of running around
                            | the woods as a coyote paladin I attended my first furry convention, BRFF 2020, and
                            | immediately knew I needed to get involved! Two of my favorite things in life are making
                            | things and entertaining people, and Carolina Furfare has given me such an amazing
                            | opportunity to do both. I'm so proud to serve as CFF Event Director, and I can't wait to
                            | watch the con and community continue to grow!
                    div(class='card-footer')
                        | #[a(href='https://carolinafurfare.org') Carolina Furfare] is our convention in Hickory, NC.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Organization Operations
                    div(class='card-body')
                        h1(class='card-title mb-4') Pat
                        img(class='icon float-left' src='/img/director-icons/pat.png' alt='Pat')
                        p(class='card-text')
                        | Hello! My name is Pat (I sometimes go by my sona Axel); I'm a civil engineer by day but by night I run the boring but important Org Ops division, where we've cut a deal with the devil the departments all do nothing at conventions but everything to make the organization possible, in the form of HR (Yes, we know we blew calling it Furry Resources), IT, Purchasing, and Accounting!
                    div(class='card-footer')
                        | <Division description>
            
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Guest Relations
                    div(class='card-body')
                        h1(class='card-title mb-4') Southbridge
                        img(class='icon float-left' src='/img/director-icons/southbridge.png' alt='Southbridge')
                        p(class='card-text')
                            | Hey! I'm Southbridge! I've been with the fandom for quite a while and with NCAS in one way or another since the beginning! I love our community and want to do everything I can to help support it. In my boring human life I'm a cybersecurity analyst and full stack developer. Looking forward to put my skills into creating the best events we can!
                    div(class='card-footer')
                        | <Division description>

            //div(class='col mb-4')
            //    div(class='card h-100')
            //        div(class='card-header') Director of <Division>
            //        div(class='card-body')
            //            h1(class='card-title mb-4') <Name>
            //            img(class='icon float-left' src='/img/director-icons/<img>.jpg' alt='<Name>')
            //            p(class='card-text')
            //                | <Bio>
            //        div(class='card-footer')
            //            | <Division description>

