extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#parking') Parking

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Triangle ALS Walk

        p.
            The North Carolina Anthro Society is partnering with the ALS United in their fight to defeat ALS. Our goal
            is to raise $10,000 in support of their mission to serve, advocate for, and empower people affected by ALS
            to live their lives to the fullest.

            Join us for the Triangle ALS walk on Saturday, April 26th, 2025. Fursuits are welcome before, after, and
            during the walk.

        a(href='https://secure.alsnc.org/site/TR/Endurance/General?team_id=4311&pg=team&fr_id=1180' target='_blank' class='btn btn-secondary btn-lg btn-block mb-3') Donate Now

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: April 26th, 2025.
            li Time: 8:30 AM - 12:00 PM EDT.
            li Location: #[a(href='https://goo.gl/maps/ohTqW4MJtnXcAQ4F9') Halifax Mall (Government Complex, 300 N Salisbury St, Raleigh, NC 27603)].

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li.
                08:30 AM - 09:30 AM EDT - Registration opens. Teem meet & greet. Refreshments and photo booth available.
            li.
                09:30 AM - 10:00 AM EDT - Opening ceremonies.
            li.
                10:00 AM - 11:00 AM EDT - Ribbon cutting and ALS walk.
            li.
                11:00 AM - 12:00 AM EDT - Closing ceremonies and awards. Pack up

    section(id='registration' title='Registration')

        h2 Registration

        p.
            Registration is free! Please join #[a(href='https://secure.alsnc.org/site/TR/Endurance/General?team_id=4311&pg=team&fr_id=1180') Team Dogbomb].
            This helps ALS United know how many people will be attending the walk and plan accordingly.

    section(id='parking' title='Parking')

        h2 Parking

        p.
            Parking is available at:
        ul
            li
                a(href='https://goo.gl/maps/qkuGayG9gCpvQAwo8') 101 N Wilmington St, Raleigh, NC 27601
                |
                | (next to the science museum)
            li
                a(href='https://goo.gl/maps/hMaMSoq9MpGKr8Pd7') 413 N Salisbury St, Raleigh, NC 27603
        p.
            For members with disabilities, parking is also available at the
            #[a(href='https://goo.gl/maps/nLFn6KRszof5mjzy5') Phillips Building (109 E North St, Raleigh, NC 27601)].

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Do I need to donate to walk?
        p.
            No! The walk is open to everyone, but donating any amount is strongly encouraged!

        h3 Are fursuits allowed?
        p.
            Yes! Fursuits are welcome before, during, and after the walk, make sure you are well hydrated through the entirety of the event, and take many breaks as needed. The walk itself will be on a closed public
            road (like a parade). We recommend having a handler with you.

        h3 Can I do anything else to help out?
        p.
            We may need water and some other supplies for fursuiters. Email us at
            #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org] if you’re interested in bringing
            something. We will also need handlers during the walk to assist fursuiters and carry water.

        h3 Where do I park?
        p.
            Halifax Mall is located in downtown Raleigh. There are public parking areas in the vicinity that will be
            open to use. You should plan on walking a couple blocks after parking.
        ul
            li
                a(href='https://goo.gl/maps/qkuGayG9gCpvQAwo8') 101 N Wilmington St, Raleigh, NC 27601
                |
                | (next to the science museum)
            li
                a(href='https://goo.gl/maps/hMaMSoq9MpGKr8Pd7') 413 N Salisbury St, Raleigh, NC 27603

        h3 Do I need to bring anything to the event or otherwise do anything to prepare?
        p.
            Make sure to wear good shoes for the walk and bring water and a bag to carry them.

        h3 What do I do once I've gotten there?/Where are we meeting up?
        p.
            NCAS will have a canopy set up on the mall. Look for the NCAS logo and Team Dogbomb banner!

        div(class='row row-cols-2')
            picture
                source(srcset='/img/events/2025/04/dogbomb-fan.jpg' type='image/jpg')
                img(class='img-fluid col' src='/img/events/2025/04/dogbomb-fan.jpg', alt='Team DogBomb Logo')
            picture
                source(srcset='/img/events/2025/04/dogbomb-tent.png' type='image/jpg')
                img(class='img-fluid col' src='/img/events/2025/04/dogbomb-tent.png' alt='DogBomb, NCAS Tent')

        h3 How long is the walk?
        p.
            2 miles with some uphills and downhills through the neighborhood and downtown Raleigh.
        
        div(class='event-info-media mb-4')
            img(class='img-fluid' src='/img/events/2025/04/walk-route.jpg' alt='Walk route.')

        h3 What happens if it rains?
        p.
            The walk will happen rain or shine.

        h3 Are dogs allowed?
        p.
            Yes! But owners are responsible for ensuring their dogs are well behaved. Leashes are required.
