extends base


block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#about-ncas") NCAS

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#mission-statement") Mission Statement

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#core-values") Core Values


block content

    section(id='about-ncas' title='About NCAS')
        h1 The North Carolina Anthropomorphic Society, Inc.

        p
            | North Carolina Anthropomorphic Society, Inc. (NCAS for short) is a nonprofit organization based in North
            | Carolina. We are a group of individuals who want to give back to the furry community by putting on great
            | events, and bringing groups together in cooperation. Our organization is wholly owned by our members and
            | our actions are driven by our values.

    section(id='mission-statement' title="Mission Statement")
        h1 Our Mission Statement
        p
            | The North Carolina Anthropomorphic Society works to foster
            | the celebration of anthropomorphic activities and culture
            | by hosting events that engage, entertain, and empower our
            | members to be a positive influence in our communities and
            | beyond. We do this because we believe in the openness of
            | our members, in their passion, in their compassion, and in
            | the friendships they form.

    section(id='core-values' title='Core Values')

        h1 Core Values

        p
            |  Our core values are the tenets that we as an organization hold ourselves to.  When we got together
            | initially to figure out what values we want to stand by and to uphold, it was difficult for us to decide.
            |  We have lofty aspirations for this organization and what we envision it could become in the future.
        p
            | We hold two categories of values dear to our organization.  The first (“As an organization, we must”)
            | are values that we strive to make apparent through our actions and net effects on our community. The
            | second (“We believe that”) are values are what drives and defines us. Our overall is just the truth!

        h2 As an organization, we must

        div(class='row row-cols-1 row-cols-md-2 row-cols-xl-4')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') Be professional.
                        p(class='card-text')
                            | We have an obligation to serve the anthropomorphic community to the best of our ability,
                            | and must act with the sense of respect, integrity, honesty, transparency, and
                            | responsibility that this entails. Our activities must be sustainable, not just for
                            | ourselves, but for our staff and volunteers, and our actions carried out with a
                            | professionalism that everyone can be proud of. Professional, however, does not mean
                            | boring. We can have fun, and be funny, while running an organization.
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') Lead by example, learn by collaboration.
                        p(class='card-text')
                            | We’re all in this together. Our board and committee members. Our voting members. Our
                            | staff and volunteers. Our attendees. We are a group of enthusiastic individuals coming
                            | together to make something great. Lead by example, but continue to learn from your peers.
                            | Remember, mistakes are opportunities for learning and improvement!
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') Be a positive influence.
                        p(class='card-text')
                            | We strive to be the best that we can and to bring out the best in others. Cultivating an
                            | atmosphere of enthusiasm is a part of everything we do. We love to see our members
                            | succeed and grow—we are here to mentor and teach.
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') Do good.
                        p(class='card-text')
                            | While we are not a charity, we can still help others. Through volunteering for and
                            | partnering with charitable organizations we can make the world a better place. And maybe
                            | even a fuzzier one.

        h2 We believe that

        div(class='row row-cols-1 row-cols-md-2 row-cols-xl-4')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') If anything is worth doing, it is worth doing well.
                        p(class='card-text')
                            | No stone unturned, no path untrodden. We are here to host the best events we can, and we
                            | know that the small things matter. We are detail-oriented and practical.
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') We are by and for our members.
                        p(class='card-text')
                            | Members, staff, and volunteers are synonymous with an event. You cannot have the latter
                            | without the former. Our actions must be in the interest and betterment of our members,
                            | and in accordance with our mission statement.
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') People define success.
                        p(class='card-text')
                            | The satisfaction of our members means more to us than any single metric. Sure, other
                            | factors matter, but our main goal is to host events that engage, entertain, and empower.
                            | We are a community of friends that build success together.
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title') We’re all a little odd, and that’s okay.
                        p(class='card-text')
                            | Everyone should feel free to be themselves. We encourage and support each other in order
                            |  to build a strong and diverse community. It is vital that we provide an atmosphere that
                            | reflects this and welcomes those that share our values. Individuality is both welcome and
                            | encouraged.

        h2 Overall

        p(class='font-weight-bold font-italic') The world would benefit from being a little bit furry.