doctype html


html(lang='en')

    head

        //- Meta attributes
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='North Carolina Anthropomorphic Society, Inc. Website.')
        meta(name='author' content='North Carolina Anthropomorphic Society, Inc.')

        //- Favicons
        link(rel='icon' sizes='16x16' href='/favicons/NCAS_favicon_16x16.png')
        link(rel='icon' sizes='32x32' href='/favicons/NCAS_favicon_32x32.png')
        link(rel='icon' sizes='48x48' href='/favicons/NCAS_favicon_48x48.png')
        link(rel='apple-touch-icon' href='/favicons/NCAS_AppleTouchIcon_180x180.png')
        link(rel='manifest' href='/favicons/manifest.json')
        meta(name='msapplication-TileColor' content='#6456AA')
        meta(name='msapplication-config' content='/favicons/browserconfig.xml')

        //- Page title
        title NC Anthro Society

        //- Bootstrap core CSS
        link(href='/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

        //- Custom fonts for this template
        link(href='/vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
        link(href='https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2' rel='preload' as='font' crossorigin)

        //- Custom styles for this template
        link(href='/css/main.min.css' rel='stylesheet')

    body(id='page-top')

        //- Navbar
        nav(id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top")

            a(class="navbar-brand js-scroll-trigger" href="/")
                img(src='/img/NCAS_Logo_Final.png', alt="NCAS North Carolina Anthro Society Logo")

            // Navbar links
            button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                i(class="fas fa-bars")
            div(class="collapse navbar-collapse" id="navbarResponsive")
                ul(id="navbar-block-links" class="navbar-nav ml-auto")
                    block navbar-page-links
                ul(id='common-links' class='navbar-nav')
                    li(class='nav-item dropdown')
                        a(id='navbar-about-dropdown-toggle' class='nav-link dropdown-toggle' href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') About
                        div(id='navbar-about-dropdown-menu' class='dropdown-menu dropdown-menu-right' aria-labelledby='navbar-staff-dropdown-toggle')
                            a(class='dropdown-item' href='/about/ncas.html') NCAS
                            a(class='dropdown-item' href='/about/covid-19.html') COVID-19
                            a(class='dropdown-item' href='/code-of-conduct/member') Member Code of Conduct
                            a(class='dropdown-item' href='/code-of-conduct/volunteer') Volunteer Code of Conduct
                            a(class='dropdown-item' href='/code-of-conduct/vendor') Vendor Code of Conduct
                    li(class="nav-item")
                        a(class="nav-link" href="/events.html") Events
                    li(class='nav-item dropdown')
                        a(id='navbar-staff-dropdown-toggle' class='nav-link dropdown-toggle' href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Staff
                        div(id='navbar-staff-dropdown-menu' class='dropdown-menu dropdown-menu-right' aria-labelledby='navbar-staff-dropdown-toggle')
                            a(class='dropdown-item' href='/staff/directors.html') President and Directors
                            a(class='dropdown-item' href='/staff/application.html') Staff and Volunteer Information
                    li(class='nav-item')
                        a(class='nav-link' href='/groups.html') Groups

        //- Main body
        div(id='content' class='container-fluid' role="main")
            block content

        //- Footer
        footer(id='footer')

            div(class='icon-box')
                div(class='icon-set')
                    a(class='icon-link', href='https://twitter.com/NCAnthroSociety')
                        i(class='fab fa-3x fa-twitter' title="NCAS Twitter page")
                    a(class='icon-link' href='https://www.facebook.com/North-Carolina-Anthropomorphic-Society-112975086789463/')
                        i(class='fab fa-3x fa-facebook' title="NCAS Facebook page")
                    a(class='icon-link' href='http://telegram.ncanthrosociety.com')
                        i(class='fab fa-3x fa-telegram' title="NCAS Telegram chat")
                    a(class='icon-link' href='https://t.me/NCAnthroS')
                        i(class='fab fa-3x fa-telegram-plane' title="NCAS Telegram announcements channel")
                div(class='icon-set')
                    a(class='icon-link' href='https://www.twitch.tv/ncanthrosociety')
                        i(class='fab fa-3x fa-twitch' title="NCAS Twitch channel")
                    a(class='icon-link' href='https://www.youtube.com/channel/UCpjFQ6oZSFAwIqq7uK6Di0A/live')
                        i(class='fab fa-3x fa-youtube' title="NCAS YouTube channel")
                    a(class='icon-link' href='https://www.pscp.tv/ncanthrosociety')
                        i(class='fab fa-3x fa-periscope' title="NCAS Periscope channel")

            p Copyright #{ new Date().getFullYear() } North Carolina Anthropomorphic Society, Inc.

        //- Bootstrap core JavaScript

        script(src='/vendor/jquery/jquery.min.js')
        script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')

        //- Plugin JavaScript
        script(src='/vendor/jquery-easing/jquery.easing.min.js')
        script(src='/vendor/lodash/lodash.min.js')

        //- Google Analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-148960561-1")

        //- Custom scripts
        script(src='/js/main.min.js')
        script(src='/js/google-analytics.min.js')
