extends src/html/partials/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#event01") CCI

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#teaser") Coming Soon
        
block content

    section(id='event01' title="Conservators Center")
        h1 NCAS Presents: The Conservators Center
        p
            | #[abbr(title='North Carolina Anthropomorphic Society') NCAS]
            | is scheduled to host a holiday party at the Conservators
            | Center on December 21, 2019. This will involve a 1 hour
            | tour followed by 2 hours of programming.
        p
            | The Triad Furs are having their annual
            | holiday party on the same day from 16:00-22:00
            | (4:00-10:00PM), and we will be cross-promoting
            | their event due to the close timing and location.

    section(id='teaser' title="Coming soon")
        h1 Coming Soon
        p
            | Have you ever wanted to rent out an entire movie
            | theater for a bad horror movie marathon, or spend a
            | night around a campfire telling stories with your fellow
            | furries? How about strutting your stuff to show your pride
            | in fursuit, or volunteering to bring a smile to someone's
            | day? Well, you're in the right place!
        p
            | We're currently hard at work at organizing a variety
            | of exciting events and activities in the North Carolina
            | area. Whether you're looking for something indoors or
            | outdoors, a thrilling outing or a relaxing weekend,
            | we'll have you covered!
        p
            | Stay tuned, we look forward to seeing you at
            | our future events!
