extends src/html/partials/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#teaser") Coming Soon
        
block content

    section(id='teaser' title="Coming soon")
        h1 More Events Coming Soon
        p
            | Have you ever wanted to rent out an entire movie
            | theater for a bad horror movie marathon, or spend a
            | night around a campfire telling stories with your fellow
            | furries? How about strutting your stuff to show your pride
            | in fursuit, or volunteering to bring a smile to someone's
            | day? Well, you're in the right place!
        p
            | We're currently hard at work at organizing a variety
            | of exciting events and activities in the North Carolina
            | area. Whether you're looking for something indoors or
            | outdoors, a thrilling outing or a relaxing weekend,
            | we'll have you covered!
        p
            | Stay tuned, we look forward to seeing you at
            | our future events!
