extends base

block navbar-page-links

    li(class="nav-item")
            a(class="nav-link js-scroll-trigger" href="#upcoming-events") Upcoming Events

    li(class="nav-item")
        a(class="nav-link" href="https://calendar.google.com/calendar/embed?src=mvf6oq58d0v265k89sdc815r2s%40group.calendar.google.com&ctz=America%2FNew_York") Calendar

    // li(class="nav-item")
    //    a(class="nav-link js-scroll-trigger" href="#teaser") Coming Soon
        
block content

    section(id='upcoming-events' title='Upcoming Events')

        h1 Upcoming Events

        div(class='row row-cols-1 row-cols-xl-2')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Greensboro Science Center and SkyWild
                    ul(class='list-group list-group-flush')
                        li(class='list-group-item') Date: Saturday, February 08, 2020
                        li(class='list-group-item') On-site registration: 12:00 PM - 12:30 PM
                        li(class='list-group-item') Event time: 01:00 PM - 05:00 PM
                        li(class='list-group-item') Address: #[a(href='https://goo.gl/maps/U6jkkdVopNKeFZwz6') 4301 Lawndale Drive, Greensboro, NC 27455]

                    div(class='card-body')
                        div(class='container-fluid')
                            div(class='row event-btn-row row-cols-1 row-cols-md-2')
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='/events/greensboro-science-center.html') More Info
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='https://ncanthrosociety.regfox.com/something-science') Register Now
                        p(class='card-text')
                            | Join NCAS as we tour the Greensboro Science Center on February 8th, 2020! In addition to
                            | the awesome museum, the science center offers both an aquarium and a zoo! If you’re
                            | feeling adventurous, the treetop adventure park SKYWILD will have you climbing, flying,
                            | and sliding through the trees.
                        p(class='card-text')
                            ul
                                li General Pre-Registration
                                ul
                                    li Total: $14.00 plus tax ($0.95).
                                    li Closes: Friday, February 7th, 2020 at 11:59 PM.
                                li SKYWILD Pre-Registration
                                ul
                                    li Total: $42.00 plus tax ($2.84).
                                    li Closes: Saturday, February 1st, 2020 at 11:59 PM.
                            | Please note that SKYWILD registration includes general
                            | registration. SKYWILD registration is only available during pre-registration.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Something for Dogbomb - Raleigh ALS Walk Kickoff!
                    ul(class='list-group list-group-flush')
                        li(class='list-group-item') 06:30 PM - 08:30 PM Thursday, February 27, 2020.
                        li(class='list-group-item')
                            a(href='https://goo.gl/maps/8GbHNtoYBs7apVHB7') Stalls Medical Cary 7980 Chapel Hill Rd, Cary NC 27513
                    div(class='card-body')
                        div(class='container-fluid')
                            div(class='row event-btn-row row-cols-1 row-cols-md-3')
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='/events/als-walk.html') More Info
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='https://docs.google.com/spreadsheets/d/1WQ7S1_dMeJDydqsdP9hRaluL_nfg0wDGqiZnmqvecbg/edit?usp=sharing') Kickoff
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='http://webnc.alsa.org/goto/friendsoftony') Fundraiser
                        p(class='card-text')
                            | The ALS Walk kickoff is a warm up gathering hosted by the ALS Association focused on
                            | sponsors, long time contributors, volunteers, care givers, and more. Come join the
                            | #[a(href='http://webnc.alsa.org/goto/friendsoftony') Friends of Tony], meet your fellow
                            | teammates, interact with other teams, and learn about new research and treatment
                            | development in the fight to kick ALS in the butt.
                        p(class='card-text')
                            | Food and beverages will be provided. Registration is required so that the ALS Association
                            | can plan accordingly. Registration is free!

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Something for Dogbomb - Raleigh ALS Walk
                    ul(class='list-group list-group-flush')
                        li(class='list-group-item') 08:30 AM Saturday, April 18, 2020.
                        li(class='list-group-item')
                            a(href='https://goo.gl/maps/cgiZwsQiUvLWYrAw8') Halifax Mall, 300 N Salisbury St, Raleigh, NC 27601
                    div(class='card-body')
                        div(class='container-fluid')
                            div(class='row event-btn-row row-cols-1 row-cols-md-3')
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='/events/als-walk.html') More Info
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='https://docs.google.com/spreadsheets/d/17WMiz7VWlb6GrhvojIe7AANUFnSTR0H0uD2A-G6sEBU/edit?usp=sharing') Walk
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='http://webnc.alsa.org/goto/friendsoftony') Fundraiser
                        p(class='card-text')
                            | #[a(href='http://webnc.alsa.org/goto/friendsoftony') Friends of Tony] is a team formed in
                            | support and honor of Tony “Dogbomb” Barrett, a member of the anthropomorphic community
                            | who was diagnosed with Amyotrophic Lateral Sclerosis (ALS).
                        p(class='card-text')
                            | ALS is a progressive neurodegenerative disease that affects nerves in the brain and spinal
                            | cord. It slowly robs the body of its ability to walk, speak, swallow, and breathe. The
                            | life expectancy of a person with ALS averages 2 to 5 years from the time of diagnosis. The
                            | Friends of Tony  are dedicated to aiding the ALS association in their goal of bringing
                            | hope, raising awareness, and providing resources and services to families affected by ALS
                            | free of charge.
                        p(class='card-text')
                            | Join the Friends of Tony as they walk in memory of Dobgomb on April 18, 2020 at the
                            | Raleigh ALS Walk hosted by the ALS Association. Check-in is at 08:30 AM, and the walk
                            | starts at 10:00 AM. The walk length is 2 miles. Fursuits are very much welcome!

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Blue Ridge Furfare (BRFF)
                    ul(class='list-group list-group-flush')
                        li(class='list-group-item') March 12-15, 2020.
                        li(class='list-group-item') Asheville, North Carolina.
                    div(class='card-body')
                        div(class='container-fluid')
                            div(class='row event-btn-row row-cols-1')
                                div(class='col text-center mb-4')
                                    a(class='btn btn-lg btn-outline-primary' href='https://www.blueridgefurfare.com/') More Info
                        p(class='card-text')
                            | Ready for a convention in Asheville, North Carolina? Pounce into a weekend of dance
                            | competitions, live art demonstrations, fursuit photography, and chill Asheville vibes.
                            | Expect a few unique features like a Tea Social, Artist Olympics, and a Pajama Party!
                        p(class='card-text')
                            | BRFF is proudly presenting their first year guest of honor Orlando Fox. Find her at
                            ul
                                li
                                    a(href='http://afoxdraws.com/index.html') #[i(class='fas fa-link icon-link')] afoxdraws.com
                                li
                                    a(href='https://twitter.com/Orlando_Fo') #[i(class='fab fa-twitter icon-link')] Twitter @Orlando_Fox
                                li
                                    a(href='https://www.furaffinity.net/user/thedoggygal') #[i(class='fas fa-link icon-link')] Fur Affinity

            //div(class='col mb-4')
            //    div(class='card h-100')
            //        div(class='card-header') Codename - Title
            //        // If doing an image, it should be at least 3:1 aspect ratio
            //        img(class='card-img-top' src='/img/event-images/...' alt="Event Picture")
            //        ul(class='list-group list-group-flush')
            //            li(class='list-group-item') Registration: $xx.xx/person.
            //            li(class='list-group-item') xx:xx AM/PM - xx:xx AM/PM Month Day, Year.
            //            li(class='list-group-item')
            //                a(href='') Address
            //        div(class='card-body')
            //            div(class='container-fluid')
            //                div(class='row event-btn-row row-cols-1 row-cols-md-2')
            //                    div(class='col text-center mb-4')
            //                        a(class='btn btn-lg btn-outline-primary' href='/events/') More Info
            //                    div(class='col text-center mb-4')
            //                        a(class='btn btn-lg btn-outline-primary' href='') Register Now
            //            p(class='card-text')
            //                | "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."

    //section(id='teaser' title="Coming soon")
    //    h1 More Events Coming Soon
    //    p
    //        | Have you ever wanted to rent out an entire movie
    //        | theater for a bad horror movie marathon, or spend a
    //        | night around a campfire telling stories with your fellow
    //        | furries? How about strutting your stuff to show your pride
    //        | in fursuit, or volunteering to bring a smile to someone's
    //        | day? Well, you're in the right place!
    //    p
    //        | We're currently hard at work at organizing a variety
    //        | of exciting events and activities in the North Carolina
    //        | area. Whether you're looking for something indoors or
    //        | outdoors, a thrilling outing or a relaxing weekend,
    //        | we'll have you covered!
    //    p
    //        | Stay tuned, we look forward to seeing you at
    //        | our future events!
