extends base

include mixins/event-card

block navbar-page-links

    if recurringEvents.length

        li(class="nav-item")
                a(class="nav-link js-scroll-trigger" href="#events-recurring") Recurring Events

    li(class="nav-item")
            a(class="nav-link js-scroll-trigger" href="#upcoming-events") Upcoming Events

    if pastEvents.length
        li(class="nav-item")
            a(class="nav-link js-scroll-trigger" href="#past-events") Past Events

    li(class='nav-item')
        a(class="nav-link js-scroll-trigger" href="#archive") Archive

    li(class="nav-item")
        a(class="nav-link" href="https://calendar.google.com/calendar/embed?src=mvf6oq58d0v265k89sdc815r2s%40group.calendar.google.com&ctz=America%2FNew_York") Calendar

block content

    if recurringEvents.length

        section(id='events-recurring')

            h1 Recurring Events

            div(class='row row-cols-1 row-cols-xl-2')

                for e in recurringEvents
                    +event-card(e)

    section(id='upcoming-events')

        if upcomingEvents.length

            h1 Upcoming Events

            div(class='row row-cols-1 row-cols-xl-2')

                for e in upcomingEvents
                    +event-card(e)
        else

            h1 More Events Coming Soon

            p.
                Have you ever wanted to rent out an entire movie theater for a bad horror movie marathon, or spend a
                night around a campfire telling stories with your fellow furries? How about strutting your stuff to
                show your pride in fursuit, or volunteering to bring a smile to someone's day? Well, you're in the
                right place!
            p.
                We're currently hard at work at organizing a variety of exciting events and activities in the
                North Carolina area. Whether you're looking for something indoors or outdoors, a thrilling outing
                or a relaxing weekend, we'll have you covered!
            p.
                Stay tuned, we look forward to seeing you at our future events!

    if pastEvents.length

        section(id='past-events')

            h1 Past Events

            div(class='row row-cols-1 row-cols-xl-2')

                for e in pastEvents
                    +event-card(e)

    section(id='archive')

        h1 Archive

        div(class='list-group')
            for year in eventYears
              a(class='list-group-item list-group-item-action' href=`/events/${year}`)=year
