extends src/html/partials/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#event01") Something Wild

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#teaser") Coming Soon
        
block content
    section(id='event01' title="Conservators Center")
        h1 Something Wild - A trip to the Conservators Center
        p
            | NCAS is proud to present our first event:
            | Something Wild - A trip to the Conservators Center!

        p
            | The Conservators Center, Inc. (CCI) is an educational
            | nonprofit based in North Carolina that is dedicated to
            | providing a specialized home for carnivore species.
            | Attendees will receive a tour of the residents (fluffy
            | animals) provided by the CCI staff. After the tour,
            | there will be a holiday party hosted on-site by NCAS,
            | complete with games and snacks. But that's not all!

        p
            | After our tour and holiday party, our friends in the area,
            | the Triad Furs will be hosting their annual holiday party
            | at the Speakeasy Tavern in Greensboro. You will need to
            | register for this event separately, but they have
            | graciously invited all NCAS members to come party with
            | them! The event will be catered, and have a full bar &
            | bartender.

        p
            | Sound fun? Everything you need to know can be found  below!

    section(id="schedule" title="Something Wild - A trip to the Conservators Center")
        h1 Schedule
        ul
            li Date: December 21, 2019
            li Time: 1:00 - 4:00 PM EST
            li
                | Location: Animal Park at the Conservators Center,
                |
                a(href="https://g.page/AnimalParkNC", title="Link to Google Maps for the address") 676 E. Hughes Mill Road Burlington, NC 27217
              
            li
                | Website:
                |
                a(href="https://animalparknc.org/", title="The Conservators Center website link") can be found by clicking here.

        h1 Timeline
        ul
            li
                | 12:45 PM EST - Arrive and begin checking in with NCAS
                | and the Conservators Center (CCI). We recommend coming
                | early to help the registration process go smoothly.
            li
                | 01:00 PM EST - Tours start. Please note we may be
                | split up into seperate tours by CCI if our group is
                | large enough.
            li 02:00 PM EST - NCAS Holiday party begins.
            li 03:30 PM EST - NCAS Holiday party winds down.
            li 04:00 PM EST - Triad Furs holiday party begins.
            li 10:00 PM EST - Triad Furs holiday party ends.

    section(id='registration' title="Registration Details")
        h1 Registration
        P
            | You need to register to participate in this event.
            | CCI requires tour participants to fill out a tour waiver.
            | You can fill out the waiver in-person or online
            |
            a(href="https://animalparknc.org/digital-tour-waiver-input/" title="CCI Tour Waiver") by clicking here.

        p
            | Registration DOES NOT include entry to the Triad Furs
            | Holiday Party. Keep reading for information on how to
            | sign up for their event.


        // h1 Voting Member Registration
        // p
        //     | Want a discount on this and other events? Become a
        //     | NCAS Voting Member!
        //     | We will be opening registration to voting members right
        //     | away. Additionally, as a voting member, you also qualify
        //     | for a discount on the registration price. If you are a
        //     | voting member, check the voting member telegram chat
        //     | for details.

        h1 General Registration
        p
            | Registration will open for the general public on
            | November 30th at 12:00 PM.
            | NCAS Holiday Party Registration
            |
            a(href="<link>") is available by clicking here.

        h1 Triad Furs Holiday Party (Separate Registration Needed)
        ul
            li
                | Deadline to register for the Triad Furs Holiday Party:
                | December 15 at 11:59 PM
            li Date: December 21, 2019
            li Time: 04:00 - 10:00 PM
            li
                | Location: The Speakeasy Tavern,
                |
                a(href="https://goo.gl/maps/amm25NENnGAcrnsz8", title="Link to Google Maps for the address") 1706 Battleground Ave. Greensboro, NC 27408
            li
                | Website:
                |
                a(href="http://speakeasytavern.com/", title="The Speak Easy Tavern website link") can be found by clicking here.
        p
            | This is a catered holiday party presented by the
            | Triad Furs. They have the back patio and upstairs
            | sofa lounge reserved for the event and will be doing a
            | white elephant gift exchange. Gifts must be suitable for
            | all audiences and in the $5-10 range. You and a +1 is
            | welcome. This event and venue is fursuit friendly!
            | We encourage all of you to support our friends over
            | in the Triad, eat some tasty food, and have a good time!

        p
            b IMPORTANT REMINDER:
            |
            | This is a separate event hosted by the Triad Furs
            | directly after Something Wild concludes. As such,
            | you will need to complete a separate registration.
            | If you participate, you will be subject to the Triad
            | Furs terms of service and code of ethics. There is no
            | attendance fee or catering fee, but you must cover your
            | own bar fees.

        h1 How to register for the Triad Furs Holiday Party
        ul
            li
                | Create or log into your account on
                |
                a(href="https://www.meetup.com", title="Meetup website") Meetup by clicking here.
            li
                | Apply to join the Triad Furs meetup group
                |
                a(href="https://www.meetup.com/Greensboro-Furmeets-Meetup", title="Triad Furs meetup page") by clicking here.
            li
                | RSVP to the event
                |
                a(href="https://www.meetup.com/Greensboro-Furmeets-Meetup/events/266445712/", title="Triad Furs meetup event") at the event page here.

    section(id='teaser' title="Coming soon")
        h1 Coming Soon
        p
            | Have you ever wanted to rent out an entire movie
            | theater for a bad horror movie marathon, or spend a
            | night around a campfire telling stories with your fellow
            | furries? How about strutting your stuff to show your pride
            | in fursuit, or volunteering to bring a smile to someone's
            | day? Well, you're in the right place!
        p
            | We're currently hard at work at organizing a variety
            | of exciting events and activities in the North Carolina
            | area. Whether you're looking for something indoors or
            | outdoors, a thrilling outing or a relaxing weekend,
            | we'll have you covered!
        p
            | Stay tuned, we look forward to seeing you at
            | our future events!
