extends base

block content

    section(id='nc-groups' title='NC Groups')

        h1 NC Anthro Groups

        div(class='row row-cols-1 row-cols-xl-2')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Blue Ridge Furfare
                    div(class='card-body')
                        p(class='card-text')
                            | Pounce into a weekend of dance competitions, live art demonstrations, fursuit photography,
                            | and chill Asheville vibes. Expect a few unique features like a Tea Social, Artist
                            | Olympics, and a Pajama Party!
                        //p(class='card-text')
                        //    | Proudly presenting Guest of Honor Orlando Fox. Find her at:
                        //    ul
                        //        li
                        //            a(href='http://afoxdraws.com/index.html')
                        //                i(class='fas fa-3x fa-link') afoxdraws.com
                        //        li
                        //            a(href='https://twitter.com/Orlando_Fo')
                        //                i(class='fab fa-3x fa-twitter')
                        //                | Twitter @Orlando_Fox
                        //        li
                        //            a(href='https://www.furaffinity.net/user/thedoggygal')
                        //                i(class='fab fa-3x fa-link') Fur Affinity
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://www.facebook.com/groups/blueridgefurfare/')
                                    i(class='fab fa-3x fa-facebook' title='Facebook Group')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://www.facebook.com/blueridgefurfare/')
                                    i(class='fab fa-3x fa-facebook' title='Facebook Page')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://mobile.twitter.com/carolinafurfare')
                                    i(class='fab fa-3x fa-twitter' title='Twitter')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://www.youtube.com/channel/UCuLnqq6reyy1pdTEpg-ynfg ')
                                    i(class='fab fa-3x fa-youtube' title='Youtube')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://www.instagram.com/blue_ridge_furfare/')
                                    i(class='fab fa-3x fa-instagram' title='Instagram')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='http://t.me/furfare')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Announcements Channel')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://t.me/blueridgefurfare')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://discord.gg/9w5HX8Z')
                                    i(class='fab fa-3x fa-discord' title='Discord')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='https://www.blueridgefurfare.com')
                                    i(class='fas fa-3x fa-link' title='Website')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Western North Carolina Furs
                    div(class='card-body')
                        p(class='card-text')
                            | Description
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='')
                                    i(class='fab fa-3x fa-facebook' title='Facebook Group')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='')
                                    i(class='fab fa-3x fa-twitter' title='Twitter')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')
                            div(class='col text-center mb-4')
                                a(class='icon-link', href='')
                                    i(class='fas fa-3x fa-link' title='Link')

            //div(class='col mb-4')
            //    div(class='card h-100')
            //        div(class='card-header') Group Name
            //        div(class='card-body')
            //            p(class='card-text')
            //                | Description
            //        div(class='container')
            //            div(class='row')
            //                div(class='col text-center mb-4')
            //                    a(class='icon-link', href='')
            //                        i(class='fas fa-3x fa-link' title='Link')
