extends base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#greetings") NCAS

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#contact") Contact

block content

    section(id='greetings' title="Greetings")
        h1 North Carolina Anthropomorphic Society
        p
            | Hello and greetings from the North Carolina Anthropomorphic Society, Inc. (NCAS). We are a nonprofit
            | organization operating out of Raleigh, North Carolina. Our goal is to organize events that enrich the
            | lives of our members and give back to the anthropomorphic community throughout the state and
            | surrounding region.
        p
            | We aim to host a variety of events taking place throughout the year, and are always actively exploring
            | additional ways we can contribute to the anthropomorphic community. Check back here, or follow us on
            | social media, to stay up to date on all the latest events. Our founders, staff, and volunteers hope to
            | see you soon!
        p
            | If you are interested in becoming a part of #[abbr(title='North Carolina Anthropomorphic Society') NCAS],
            | see our #[a(href='/staff/application.html') staff and volunteer] information.

    section(id='contact' title="Contact us")
        h1 Contact Us
        p
            | Stay in touch and be informed of our most current news and happenings by liking or following our
            | official social media channels.
        ul
            li Twitter: #[a(href='https://twitter.com/NCAnthroSociety') @NCAnthroSociety]
            li Facebook: #[a(href='https://www.facebook.com/North-Carolina-Anthropomorphic-Society-112975086789463/') North Carolina Anthropomorphic Society]
            li Telegram chat: #[a(href='http://telegram.ncanthrosociety.com') NCAS General]
            li Telegram announcement channel: #[a(href='https://t.me/NCAnthroS') NC Anthropomorphic Society]
        p
            | You can also reach us by email at
            | #[a(href='mailto:contact@ncanthrosociety.com') contact@ncanthrosociety.com].
        p
            | If you are an organizer or a representative for another anthropomorphic group and wish to get in
            | touch with us, please contact us by email at
            | #[a(href='mailto:community@ncanthrosociety.com') community@ncanthrosociety.com].

    section(id='onlyoffice' title='ONLYOFFICE')
        h1 ONLYOFFICE
        div(class='d-flex flex-column')
            p.
                Hey, nonprofits. Need an office solution that's budget-friendly? We've been using ONLYOFFICE. You
                should go check them out.
            a(href="http://onlyoffice.com?campaign=nonprofit" target="_blank" style="cursor: pointer;" rel="me nofollow")
                img(class='img-fluid' alt="ONLYOFFICE on-premises" title="ONLYOFFICE on-premises" src='http://www.onlyoffice.com/images/banners/en-us/enterprise-edition-468-x-60-1.jpg')
