extends src/html/partials/base

block content

    section(id='about-us' class='section-even')
        h1 North Carolina Anthropomorphic Society
        p
            | Hello and greetings from the North Carolina Anthropomorphic Society, Inc. (NCAS). We are a nonprofit
            | organization operating out of Raleigh, North Carolina. Our goal is to organize events for our members
            | to enrich their lives and give back to the anthropomorphic community throughout the state and
            | surrounding region.
        p
            | We are just getting started here at the NCAS HQ, and are well on our way to begin regular operations.
            | Our initial goal for 2020 will be hosting a variety of events taking place throughout the year, and
            | we will be actively exploring additional ways we can contribute to the anthropomorphic community.
            | Stay tuned for more information about our plans and events in the coming months. Our founders, staff,
            | and volunteers are excited to be embarking on this journey with you!
        p
            | If you are interested in becoming a part of NCAS, or partnering with us, see
            | #[a(href='#contact') our contact section].

    section(id='mission-statement' class='section-odd')
        h1 Our Mission Statement
        p
            | The North Carolina Anthropomorphic Society works to foster
            | the celebration of anthropomorphic activities and culture
            | by hosting events that engage, entertain, and empower our
            | members to be a positive influence in our communities and
            | beyond. We do this because we believe in the openness of
            | our members, in their passion, in their compassion, and in
            | the friendships they form.

    section(id='teaser' class='section-even')
        h1 Coming Soon
        p
            | Have you ever wanted to rent out an entire movie theater for a bad horror movie marathon, or spend a
            | night around a campfire telling stories with your fellow furries? How about strutting your stuff to
            | show your pride in fursuit, or volunteering to bring a smile to someone’s day? Well, you’re in the
            | right place!
        p
            | We’re currently hard at work at organizing a variety of exciting events and activities in the North
            | Carolina area. Whether you’re looking for something indoors or outdoors, a thrilling outing or a
            | relaxing weekend, we’ll have you covered! Currently, some of the events we are exploring include
            | daytime gatherings, destination trips with opportunities for sightseeing, and other planned social
            | activities. And others… might just require a weekend and a hotel.
        p
            | Stay tuned, and we look forward to seeing you at our future events!

    section(id='contact' class='section-odd')
        h1 Contact Us
        p
            | Stay in touch and be informed of our most current news and happenings by liking or following our
            | official social media channels.
        ul
            li Twitter: (TWITTER LINK)
            li Facebook: (FACEBOOK LINK)
            li Telegram: (TELEGRAM CHANNEL LINK)
        p
            | You can also reach us by email at
            | #[a(href='mailto:contact@ncanthrosociety.com') contact@ncanthrosociety.com].
        p
            | If you are an organizer or a representative for another anthropomorphic group and wish to get in
            | touch with us, please contact us by email at
            | #[a(href='mailto:community@ncanthrosociety.com') community@ncanthrosociety.com].
