extends src/html/partials/base

block content
    div(class='content')
        h1 NCAS Mission Statement
        p
            | The North Carolina Anthropomorphic Society works to foster
            | the celebration of anthropomorphic activities and culture
            | by hosting events that engage, entertain, and empower our
            | members to be a positive influence in our communities and
            | beyond. We do this because we believe in the openness of
            | our members, in their passion, in their compassion, and in
            | the friendships they form.

        p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            | In ac augue lectus. Nullam tincidunt velit at mi placerat
            | fermentum. Vivamus hendrerit velit vel porta rhoncus. Nam
            | imperdiet quis dui ac auctor. Nulla convallis massa nec
            | dolor sagittis fringilla. Fusce rutrum augue nec luctus
            | pulvinar.
