extends src/html/partials/base


block body

    section(id="ncas-mission-statement")

        h1 NCAS Mission Statement

        p
            | The North Carolina Anthropomorphic Society works to foster the celebration of anthropomorphic activities
            | and culture by hosting events that engage, entertain, and empower our members to be a positive influence
            | in our communities and beyond. We do this because we believe in the openness of our members, in their
            | passion, in their compassion, and in the friendships they form.

    section(id="ncas ")
