extends src/html/partials/base

block content

    section(id='ncas-staff' title='NCAS Staff')

        h1 Meet the president and directors of NCAS!

        p
            | The president and directors of NCAS

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') President &mdash; Merc
                        img(class='icon float-left' src='' alt='')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Entertainment &mdash; Mikey
                        img(class='icon float-left' src='src/img/director-icons/mikey.jpg' alt='Mikey')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Event Operations &mdash; Faelan
                        img(class='icon float-left' src='src/img/director-icons/faelan.png' alt='faelan')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Guest Relations &mdash; Keplin
                        img(class='icon float-left' src='src/img/director-icons/keplin.jpg' alt='Keplin')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Marketing and Public Relations &mdash; Corvin
                        img(class='icon float-left' src='' alt='')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Media Production &mdash; Nullstrukt
                        img(class='icon float-left' src='src/img/director-icons/nullstrukt.jpg' alt='Nullstrukt')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Organization Operations &mdash; Singe
                        img(class='icon float-left' src='' alt='')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

        div(class='row row-cols-1')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Director of Vendor Relations &mdash; Wolf
                        img(class='icon float-left' src='' alt='')
                        p(class='card-text') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
