extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Laser Tag With the Triad Furs

        p.
            Zombie Invasion! Just in time for Halloween, join the Triad Furs at Ground Zero Tactical Laser Tag on
            Saturday, October 21st for a fun-filled private session at this unique tactical experience! Ground Zero
            brings another level of realism and fun to the time-honored sport, incorporating aspects from first-person
            shooter games, such as different game modes, killstreaks, multiple weapons, mystery boxes, and more. Will
            you survive this Halloween? We hope to see you there!

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: October 21st, 2023.
            li Time: 7:00 - 9:00 PM EDT.
            li.
                Location: Address link.
            li.
                Website: #[a(href='https://maps.app.goo.gl/ed5Eb6FyBuTucovu9') 2419 W Webb Ave, Burlington, NC 27217].
            li Registration: $30/person.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li 6:45-7:00 PM EDT - Arrival and check-in.
            li 7:00-9:00 PM EDT - Laser Tag!

    section(id='registration' title='Registration')

        h2 Registration

        P.
            Registration will be available until 9:00 PM on October 21st. All players must also wear closed toed shoes
            and sign a waiver with Ground Zero, which may be found on their website at
            #[a(href='https://www.groundzerotlt.com/waiver') https://www.groundzerotlt.com/waiver].

        h3 General Registration
        ul
            li.
                Registration is available on #[a(href="https://ncanthrosociety.regfox.com/triad-furs-ncas-laser-tag", title="Registration Page") RegFox].
            li.
                Refunds can be made until 7:00 PM EDT on October 21st. To request a refund, please email
                #[a(href='mailto:registration@ncanthrosociety.com') registration@ncanthrosociety.com] with your registration
                confirmation number.

        h3 Voting Member Registration
        p.
            If you are a voting member, please check the voting member
            Telegram chat for additional details.

        h3 Children and Minors
        p.
            All players MUST be over 7 years of age. Every minor (7-17) must be included on a parent's liability form
            or have a separate form signed by a parent or legal guardian.

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Are fursuits allowed?
        p.
            Fursuiting itself is NOT allowed in the laser tag arena itself due to safety reasons, but it is allowed
            outside of it. Please be sure to keep this in mind!
