extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Fuzzy Logic Escape Room

        p
            | COVID isolation got you feeling blue? Wish you could do a group activity with your
            | friends from the comfort of your own home? Like Escape Rooms? Well, do we have good news
            | for you! The infamous Fuzzy Logic Escape Room that has been the staple of Furry
            | Conventions across the US makes its way to your living room! Join up to 7 friends as you
            | all work together to solve fun, mind-bending puzzles in the allotted time! If you think
            | you got what it takes, then join us as NCAS presents: Fuzzy Logic Escape Room...
            | Quarantine Edition!

    section(id='details' title='Details')

        h2 Details

        ul
            li 8:00 PM - 9:00 PM EST October 28, 2020. Vet Office.
            li 8:00 PM - 9:00 PM EST October 30, 2020. Villain's Lair.
            li
                | Virtual over Zoom.
            li
                | Website: #[a(href='https://www.fuzzylogicescaperoom.com/' target='_blank') Fuzzy Logic].
            li Registration: $18/person.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li
                | 7:40 - 8:00 PM EST - Connect to zoom and meet your fellow escapees!
            li
                | 8:00 - 9:00 PM EST - Escape.

    section(id='registration' title='Registration')

        h2 Registration

        P
            | Registration is capped at 8 people per room based on Fuzzy Logic's recommendation.

        h3 General Registration
        ul
            li
                | Registration is available on
                |
                a(href="https://ncanthrosociety.regfox.com/ncasescape", title="Registration Page") RegFox.
            li
                | The deadline to register for a game is 24 hours before it starts.
            li
                | $18.00. Registration for each game closes at midnight the evening before. Registration will be
                | available soon!
            li
                p
                    | Refunds are allowed up to 24 hours before each game. Participants may also request to switch which
                    | time slot they are participating in, as long as it is at least 24 hours before both the old and
                    | new games.
                p
                    | To request a refund, please send us an email at #[a(href='mailto:contact@ncanthrosociety.com') contact@ncanthrosociety.com].

        h3 Voting Member Registration
        p
            | If you are a voting member, please check the voting member
            | Telegram chat for additional details.

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 What is an escape room?
        p
            | An escape room is a team-based experience where members cooperate in a themed room to solve puzzles and
            | challenges that allow the team to escape under a time limit.

        h3 How does an escape room work online?
        p
            | Teams communicate on a zoom call to direct a staff member physically present in the room, telling them
            | where to search and what to do in order to solve puzzles. A browser-based inventory system helps the team
            | see discovered items up-close.

        h3 What do I need to have in order to participate?
        p
            | Participants should have a device with Zoom installed and a reliable internet connection. A device with
            | a web browser is recommended but not required.

        h3 How will I get the link to join the escape room?
        p
            | Staff will e-mail the link to the zoom call to the e-mail address provided with registration in advance of
            | the game. Participants should plan on joining the call 15-20 minutes in advance in order to make sure the
            | link works and in order to familiarize themselves with Fuzzy Logic’s inventory system. In the event of
            | technical issues such as the link not working, NCAS staff members will be on standby to assist.
