doctype html


html(lang='en')

    head

        //- Meta attributes
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='North Carolina Anthropomorphic Society, Inc. Website.')
        meta(name='author' content='North Carolina Anthropomorphic Society, Inc.')

        //- Page title
        title NC Anthro Society

        //- Bootstrap core CSS
        link(href='vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')

        //- Custom fonts for this template
        link(href='vendor/fontawesome-free/css/all.min.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')

        //- Custom styles for this template
        link(href='src/css/main.min.css' rel='stylesheet')

    body

        //- Navbar
        nav(class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav")
            a(class="navbar-brand js-scroll-trigger" href="#page-top") NC Anthro Society
            button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation")
                i(class="fas fa-bars")
            div(class="collapse navbar-collapse" id="navbarResponsive")
                ul(class="navbar-nav ml-auto")
                    li(class="nav-item")
                        a(class="nav-link js-scroll-trigger" href="#link") Link

        //- Main body
        div(class='container-fluid')

            block body

        //- Footer
        div(class="footer")

            p Copyright #{ new Date().getFullYear() } North Carolina Anthropomorphic Society, Inc.

        //- Bootstrap core JavaScript
        script(src='vendor/jquery/jquery.min.js')
        script(src='vendor/bootstrap/js/bootstrap.bundle.min.js')

        //- Plugin JavaScript
        script(src='vendor/jquery-easing/jquery.easing.min.js')

        //- Google Analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=UA-148960561-1")

        //- Custom scripts
        script(src='src/js/main.min.js')
        script(src='src/js/google-analytics.min.js')
