extends /pug/templates/base

include /pug/mixins/email-link


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#tldr') TL;DR
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#full-covid-policy') Full COVID Policy

block content

    section(id='tldr')

        h1 TL;DR
        ol
            li Proof of vaccination or negative tests WILL NOT be required to attend NCAS events.
            li Wearing masks is recommended but not required.

    section(id='full-covid-policy')

        h1 NCAS COVID Policy

        table(class='table')
            tr
                th Revision
                td 0002
            tr
                th Last Revised
                td 2023-05-11

        h2 Vaccination and Testing
        p.
            Proof of vaccination or proof of a negative test is not required to attend NCAS events. However, we strongly
            recommend all members stay up to date on their vaccinations and boosters. We also recommend performing an
            at-home test before leaving for the event and after returning. If you test positive before the event, please
            see the section on prorated refunds. If you test positive afterwards, please contact the people you were
            with to let them know!

        h2 Masks
        p.
            Wearing a mask is not required to attend an NCAS event. However, we strongly recommend wearing a mask,
            especially in high-contact areas. Properly worn masks that cover the nose and mouth are a proven way to
            reduce the risk of communicable diseases and prevent you from going home with con crud!

        h2 Refunds
        p.
            If you happen to test positive for COVID during an NCAS event, we must ask that you not attend the remainder
            of that event. You may email #[+email-link('registration@ncanthrosociety.org')] for a prorated refund on
            your registration. Please include proof of your positive test with the email.
        p.
            We also recommend staying home if you are showing symptoms of non-COVID sickness. Preventing the spread of
            further illness should be the priority.

        h2 Questions or Suggestions
        p.
            If you have any questions or suggestions about our COVID policy or how we can work together to keep all of
            our members safe, please reach out to us at #[+email-link('contact@ncanthrosociety.org')].

        h2 Frequently Asked Questions

        h3 Why are you not requiring vaccinations or tests?
        p.
            With the expiry of the public health emergency (PHE) and federal supply of free COVID vaccines, the cost of
            being fully vaccinated for uninsured or underinsured members of the community is expected to increase to
            $130/dose. The cost of an uninsured PCR test can be about the same. At the same time, the projected risk of
            illness due to COVID has fallen across North Carolina.
