extends /pug/templates/base


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#tldr') TL;DR
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#full-covid-policy') Full COVID Policy

block content

    section(id='tldr')

        h1 TL;DR

        p.
            We’re working to ensure that all members remain safe at NCAS events. Please help us by reading our COVID
            policy and coming prepared to participate in the precautions we are taking. This policy can and likely will
            change as the situation develops. Please make sure to check this page regularly to stay informed of the
            latest policy.
        p.
            Effective immediately for all NCAS events:
        ul
            li.
                The Code(s) of Conduct have been updated to include compliance with all COVID precautions required by
                NCAS, the event venue, or municipal regulations.
            li.
                Vaccination is required for all members unless: 1) they are in an age range for which a COVID
                vaccination has not been approved, or 2) they have a verifiable doctor’s note (we will verify the note
                by calling the doctor). If an exception is made, proof of a negative COVID test must be provided prior
                to admission.
            ul
                li.
                    Make sure to bring your COVID-19 Vaccination Record Card with you or have access to a valid digital
                    record card.
                li.
                    If you are not vaccinated, we recommend you plan on waiting until the situation has improved. If
                    you do plan on attending, please email us at #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org]
                    with details regarding your situation for an exception. If approved, plan ahead for having at least
                    two test kits. If you test positive, you may retake the test to verify it is not a false-positive.
                    If you still test positive, we will give you a prorated refund on your registration.
            li.
                Masks are required regardless of vaccination status while in public spaces or whenever you are with
                someone outside of your immediate household. This includes while wearing fursuits and while in room
                parties. Please note that most balaclava materials are not sufficient.
            li.
                We will work with our venues to alter event spaces for appropriate distancing and sanitization.
            li.
                If your attendance plans change due to COVID, please refer to our website for information on the event’s
                refund policy.
        p.
            If you have any questions or suggestions about our COVID policy or how we can work together to keep all of
            our members safe, please see the full policy below. You can also reach out to us at
            #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org].


    section(id='full-covid-policy')

        h1 NCAS COVID Policy

        h2 Code of Conduct
        p.
            We've made changes to our #[a(href='/code-of-conduct/member') Member] and
            #[a(href='/code-of-conduct/volunteer') Volunteer] Code(s) of Conduct regarding COVID. Namely:
        blockquote
            p.
                #[b Health and Safety]
            p.
                Membership with NCAS and attendance at NCAS events may be subject to additional provisions requiring
                that members either engage in or refrain from certain behaviors during situations which can materially
                affect the health and safety of its members, staff, volunteers, contractors/liaisons, or the general
                public. Violating these provisions constitutes a violation of the NCAS Member Code of Conduct.
            p.
                Such situations and provisions include, but are not limited to:

            ol(type='1')
                li.
                    #[b Sickness or Epidemic:] In the event of an outbreak of a communicable disease with the potential to
                    pose a risk to attendees at an event, NCAS volunteers are expected to practice common courtesy and
                    cleanliness. Even without an outbreak, we ask that volunteers adhere to these provisions if they begin
                    to feel ill while at one of our events.
                ol(type='a')
                    li.
                        #[b Hand Washing.] Volunteers must make an effort to wash their hands frequently, especially before
                        meals. In particular, we recommend following the CDC guidelines [1].
                    li.
                        #[b Masks.] Volunteers must wear effective masks in the event of an outbreak of respiratory
                        transmitted illness. While the effectiveness of a specific mask is hard to quantify, the style and
                        material of the mask worn must be recommended for use against the illness in question by the
                        NCDHHS [2], CDC [3], or WHO [4]. Masks must be worn properly, following all recommendations by the
                        prior listed organizations, and cover the nose and mouth.
                    li.
                        #[b Covering Your Coughs.] Regardless of whether you are wearing a mask, volunteers must make sure
                        to cover their mouth with a tissue or elbow. Do not use your hand. Volunteers may wish to follow the
                        CDC guidelines [5].
                    li.
                        #[b Social Distancing.] Social contact is a factor in the spread of disease. Volunteers must make an
                        effort to maintain social distancing by limiting physical interactions like handshakes and hugs.
                    li.
                        #[b Sanitization.] Volunteers should take care to wipe down shared equipment and other objects after
                        use. Please remain cognizant that shared equipment may have been handled by someone prior to you.

            ol(class='reference-list')
                li
                    a(href='https://www.cdc.gov/handwashing/when-how-handwashing.html').
                        https://www.cdc.gov/handwashing/when-how-handwashing.html
                li
                    a(href='https://www.ncdhhs.gov/').
                        https://www.ncdhhs.gov/
                li
                    a(href='https://www.cdc.gov/').
                        https://www.cdc.gov/
                li
                    a(href='https://www.who.int/').
                        https://www.who.int/
                li
                    a(href='https://www.cdc.gov/healthywater/hygiene/etiquette/coughing_sneezing.html').
                        https://www.cdc.gov/healthywater/hygiene/etiquette/coughing_sneezing.html

        h2(id='vaccinations') Vaccinations
        p.
            You must display proof of having been fully vaccinated at least two weeks prior to the start of the event to
            gain admission. Make sure to bring your COVID-19 Vaccination Record Card with you or have access to a valid
            digital record card.
        p.
            If you are not vaccinated, we recommend you plan on waiting until the situation has improved before
            attending our events. However, we will allow an exception if you meet one or more of the following criteria.
        ol
            li.
                You are in an age range for which a COVID vaccination has not yet been approved.
            li.
                You send us a verifiable doctor’s note at least two weeks prior to the start of the event. We will
                verify the note by calling the doctor.
        p.
            Please email us at #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org] with details
            regarding your situation to apply for an exception. If an exception is made, you must take a same-day COVID
            test and provide proof of a negative result before you check-in. Admission into the event spaces will not be
            permitted without this or proof of vaccination. Some members may experience false positives. If you test
            positive, you may procure and take a second test. If the second test is also positive, we unfortunately
            cannot allow you to attend the event and will give you a prorated refund on registration.

        h2 Masks
        p.
            All individuals must wear a mask while in public spaces or in the presence of someone not from their
            immediate household. This includes while in fursuit and at room parties. According to our Code of Conduct,
            masks must be worn properly. If you are not wearing a mask over your mouth and nose, a staff member will
            ask you to adjust it.
        ul
            li.
                All masks must adhere to the #[a(href='https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/cloth-face-cover-guidance.html') CDC guidelines]
                for masks. A balaclava is not sufficient.
            li.
                If you are taking a drink, you may pull down your mask, sip, and pull it back up.
            li.
                Exceptions may be made for meals in designated areas.
            li.
                Children younger than 2 years are exempt following the
                #[a(href='https://www.cdc.gov/coronavirus/2019-ncov/faq.html') CDC guidelines].
            li.
                Wearing a mask isn’t just to protect you, it’s to protect our other members. If you feel that you cannot
                wear a mask, we ask that you instead plan on attending future events.

        h2 Changes to Events and Event Spaces
        p.
            We may do any of the following to support safety at our events:
        ul
            li.
                Water stations may not be provided within the event spaces. Attendees should plan accordingly and bring
                their own water bottles.
            li.
                Hand-sanitizer may be placed for use throughout the event spaces.
            li.
                Shared equipment, props, games, etc. may be cleaned after use.
            li.
                Doors to event spaces may be left open to facilitate airflow. If a room has an exterior door or window,
                it may be left open too.
            li.
                We may place additional signage throughout the event spaces with reminders related to COVID safety.
                Please be aware of any such signage and do your best to follow any instructions.
            li.
                Maximum room capacity may be reduced to enable social distancing.

        h2 Questions or Suggestions
        p.
            If you have any questions or suggestions about our COVID policy or how we can work together to keep all of
            our members safe, please reach out to us at #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org].
