extends /pug/templates/base

include /pug/mixins/email-link

block content

    section

        h1 NCAS Press Pass Information

        table(class='table mt-4')
            tr
                td Short Summary
                td Summary of the Press Pass Program
            tr
                td Scope
                td Marketing/PR
            tr
                td Contact
                td Head of Marketing/PR
            tr
                td Revision
                td 0001
            tr
                td Last Revised
                td 2025-06-08

        h2 Who This Pertains To:
        p.
            Press and media includes, but is not limited to:
        
        ol(type='1')
            li.
                Professional news networks and employees.
            li.
                Independent journalists, bloggers, vloggers, podcasters, etc. with a primary focus on reporting on the event.
            li.
                Anybody creating a video, audio, or written interview of another member.

        p.
            This does not include those creating content for personal use or content created for someone non-business tied social media. 


        h2 What It Is:
        p.
            An unaccompanied Press Pass is a special badge given out by NCAS with prior-approval to individuals 
            who wish to cover our event in an official capacity. These passes grant early access to events, entry 
            into behind the scenes areas, and assistance from staff within reason. Interviews with staff or special 
            guests can be arranged ahead of time and if there are requests for specific events please notify us ahead of time.

        h2 How to Get One:
        p.
            To obtain a Press Pass someone needs to email in to #[+email-link('contact@ncanthrosociety.org')] with their project proposal. Make sure 
            the email contains what the goal of your coverage is, some sample questions or skit ideas, and links to your other works. 
            NCAS's PR team will then review the submission and either ask for additional information or approve/deny your application 
            for a Press Pass. 
        p.
            If someone is approved for a Press Pass, they will be able to pick this up from Con-Ops. There will be a Sign-In/Out 
            sheet that must be done every time the Press Pass is used. After the event NCAS would like to see the material created 
            for review and comment. This is in no way attempting to have creative control, but more so to be able to rectify any 
            wrongdoings or mishaps before posting.

        h2 When Is It Used:
        p.
            Each Press Pass is good for one person to cover one event. Just because you have been approved for a prior NCAS event 
            does not mean you are approved for all. NCAS reserves the right to deny any individual that does not align with the NCAS 
            values a Press Pass. If violations occur  during the event the Press Pass can be revoked and proper actions taken. 
