extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Triangle ALS Walk

        p.
            The North Carolina Anthro Society is partnering with the North Carolina chapter of the ALS association in
            their fight to defeat ALS. Our goal is to raise $2,500 in support of their mission to serve, advocate for,
            and empower people affected by ALS to live their lives to the fullest.

            Join us for the Triangle ALS walk on Saturday, April 15, 2023. Fursuits are welcome before, after, and
            during the walk.

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: April 15th, 2023.
            li Time: 8:00 AM - 2:00 PM EDT.
            li.
                Location: #[a(href='https://goo.gl/maps/ohTqW4MJtnXcAQ4F9') Government Complex, 300 N Salisbury St, Raleigh, NC 27603].
            li.
                Website: TODO LINK TO NCAS PAGE.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li.
                xx:xx-xx:xx AM/PM EST - event.
            li
                | xx:xx-xx:xx AM/PM EST - event.
                ul
                    li xx:xx-xx:xx AM/PM EST - event.
                    li xx:xx-xx:xx AM/PM EST - event.

    section(id='registration' title='Registration')

        h2 Registration

        P.
            Registration is not required to participate.

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Do I need to donate to walk?
        p.
            No! The walk is open to everyone.

        h3 Are fursuits allowed?
        p.
            Yes! Fursuits are welcome before, during, and after the walk. The walk itself will be on a closed public
            road (like a parade). We recommend having a handler with you.

        h3 Can I do anything else to help out?
        p.
            We may need water and some other supplies for fursuiters. Email us at
            #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org] if you’re interested in bringing
            something.

        h3 Where do I park?
        p.
            Halifax Mall is located in downtown Raleigh. There are public parking areas in the vicinity that will be
            open to use. You should plan on walking a couple blocks after parking.

        h3 What do I need to do to prepare or bring to the event?
        p.
            Make sure to wear good shoes for the walk!

        h3 What do I do once I've gotten there?/Where are we meeting up?
        p.
            NCAS will have a canopy set up on the mall. Look for the NCAS logo and banner!
