extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#parking') Parking

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Triangle ALS Walk

        p.
            The North Carolina Anthro Society is partnering with the North Carolina chapter of the ALS association in
            their fight to defeat ALS. Our goal is to raise $2,500 in support of their mission to serve, advocate for,
            and empower people affected by ALS to live their lives to the fullest.

            Join us for the Triangle ALS walk on Saturday, April 15, 2023. Fursuits are welcome before, after, and
            during the walk.

        a(href='http://web.alsa.org/goto/TeamDogBomb2023' target='_blank' class='btn btn-secondary btn-lg btn-block mb-3') Donate Now

        p.
            We're also doing a DogBomb t-shirt giveaway until the end of February!
            #[a(href='/events/2023/04/als-walk-giveaway') Details]

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: April 15th, 2023.
            li Time: 8:30 AM - 12:00 PM EDT.
            li Location: #[a(href='https://goo.gl/maps/ohTqW4MJtnXcAQ4F9') Halifax Mall (Government Complex, 300 N Salisbury St, Raleigh, NC 27603)].

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li.
                08:30 AM - 09:30 AM EDT - Registration opens. Teem meet & greet. Refreshments and photo booth available.
            li.
                09:30 AM - 10:00 AM EDT - Opening ceremonies.
            li.
                10:00 AM - 11:00 AM EDT - Ribbon cutting and ALS walk.
            li.
                11:00 AM - 12:00 AM EDT - Closing ceremonies and awards. Pack up

    section(id='registration' title='Registration')

        h2 Registration

        P.
            Registration is not required to participate. However, we strongly encourage you register at the
            #[a(href='http://web.alsa.org/goto/TeamDogBomb2023') Team Dogbomb] page. This helps the ALS Association know
            how many people will be attending the walk and plan accordingly.

    section(id='parking' title='Parking')

        h2 Parking

        p.
            Parking is available at:
        ul
            li
                a(href='https://goo.gl/maps/hMaMSoq9MpGKr8Pd7') 413 N Salisbury St, Raleigh, NC 27603
            li
                a(href='https://goo.gl/maps/qkuGayG9gCpvQAwo8') 101 N Wilmington St, Raleigh, NC 27601
                |
                | (next to the science museum)
        p.
            For members with disabilities, parking is also available at the
            #[a(href='https://goo.gl/maps/nLFn6KRszof5mjzy5') Phillips Building (109 E North St, Raleigh, NC 27601)].

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Do I need to donate to walk?
        p.
            No! The walk is open to everyone.

        h3 Are fursuits allowed?
        p.
            Yes! Fursuits are welcome before, during, and after the walk. The walk itself will be on a closed public
            road (like a parade). We recommend having a handler with you.

        h3 Can I do anything else to help out?
        p.
            We may need water and some other supplies for fursuiters. Email us at
            #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org] if you’re interested in bringing
            something. We will also need handlers during the walk to assist fursuiters and carry water.

        h3 Where do I park?
        p.
            Halifax Mall is located in downtown Raleigh. There are public parking areas in the vicinity that will be
            open to use. You should plan on walking a couple blocks after parking.
        ul
            li
                a(href='https://goo.gl/maps/hMaMSoq9MpGKr8Pd7') 413 N Salisbury St, Raleigh, NC 27603
            li
                a(href='https://goo.gl/maps/qkuGayG9gCpvQAwo8') 101 N Wilmington St, Raleigh, NC 27601
                    |
                    | (next to the science museum)
            li
                a(href='https://goo.gl/maps/nLFn6KRszof5mjzy5') Phillips Building (109 E North St, Raleigh, NC 27601)

        h3 Do I need to bring anything to the event or otherwise do anything to prepare?
        p.
            Make sure to wear good shoes for the walk and bring water!

        h3 What do I do once I've gotten there?/Where are we meeting up?
        p.
            NCAS will have a canopy set up on the mall. Look for the NCAS logo and banner!

        h3 How long is the walk?
        p.
            2 miles.

        h3 What happens if it rains?
        p.
            The walk will happen rain or shine.

        h3 Are dogs allowed?
        p.
            Yes! But owners are responsible for ensuring their dogs are well behaved.
