extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#staff-application") Staff Application

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#volunteer-interest') Volunteer Interest

block content

    section(id='staff-application' title='Staff Application')

        h1 Staff Application

        p
            | Have you reviewed our mission statement and love what NCAS is about? Do you want to join us? (We might
            | have cookies.) We’re looking for more like-minded souls that share our values to aid in our quest!
        p
            | NCAS is currently seeking more staff volunteers to help out in year-round and event-specific roles.
            | Positions with us are unpaid, and do not have hard schedules or time requirements. However, accepting a
            | staff volunteer position reflects a serious commitment to help NCAS achieve our goals. If you have any
            | questions about how you can help NCAS, our human resources department will be happy to answer them. Send
            | an email to #[a(href='mailto:hr@ncanthrosociety.com') hr@ncanthrosociety.com] and one our attentive
            | volunteers will get back to you.
        p
            | Are you ready to sign up now? View the list of
            | #[a(href='https://docs.google.com/document/d/1iGX9aGj9-4zrZIjezsF2UBI9m1Y5WFlPh215GGWHQmo/edit?usp=sharing') open positions],
            | then submit a #[a(href='https://forms.gle/48M7V8KjQctZgPBD9') staff application] with some information
            | about yourself and what area you would like to help out in. Our human resources department will reach out
            | to you and may have some additional questions.

    section(id='volunteer-interest' title='volunteer-interest')

        h1 Volunteer Interest

        p
            | Not quite ready to make the leap to being staff? That's fine! We're looking for volunteers too.
            | Volunteering is currently on a per-event basis. If you want to be informed when volunteer applications
            | open for our events, fill out our #[a(href='https://forms.gle/PEhLzT8SvVrMbKZb6') volunteer interest]
            | form and we'll be sure to keep you in the loop.