extends /base

block content

    section(id='president-and-directors' title='NCAS Staff')

        h1 Meet the president and directors of NCAS!

        p
            | Our members are the most important part of NCAS. Here you will find a listing of our president and
            | operations directors who all work together in making the magic happen. This list is not exhaustive and
            | does not include all of our amazing staff and volunteers. To all our staff and volunteers, thank you for
            | the honor and privilege to be able to work with you in bringing it all together!

        div(class='row row-cols-1 row-cols-xl-2')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') President
                    div(class='card-body')
                        h1(class='card-title mb-4') Merc
                        img(class='icon float-left' src='/img/director-icons/merc.png' alt='Merc')
                        p(class='card-text')
                            | I’ve been active in the community for about a decade and have gotten to meet some amazing
                            | people from it!  My background is in technology, business management, process improvement,
                            | and doing it yourself! In my role with NCAS I am putting all of that to use and have the
                            | pleasure of working with a great team that’s growing every day!
                    div(class='card-footer')
                        | The president is responsible for the business operations of the organization and for
                        | implementing decisions and initiatives from the board of directors.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Entertainment
                    div(class='card-body')
                        h1(class='card-title mb-4') Mikey
                        img(class='icon float-left' src='/img/director-icons/mikey.jpg' alt='Mikey')
                        p(class='card-text')
                            | Though I've only been active in the fandom since 2011, I have been watching shows with
                            | anthropomorphic characters since the late 80's! (Before you say anything, I'm not THAT
                            | old!)  Professionally, I work as a Recruiter, with a background  in Performance and Media
                            | Studies, and Event Planning. Since joining the fandom back in 2011, I have met some
                            | incredibly talented people (or fuzzbutts) that I have the honor of calling friends! Can't
                            | wait to see in helping NCAS grow their events and help put on events you'll be awestruck
                            | by!
                    div(class='card-footer')
                        | Entertainment handles all activities, entertainment spaces, and immersive experiences at an
                        | event.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Vice President, Director of Event Administration
                    div(class='card-body')
                        h1(class='card-title mb-4') Faelan
                        img(class='icon float-left' src='/img/director-icons/faelan.png' alt='faelan')
                        p(class='card-text')
                            | Hey there! I’m just your average internet wolf with an occasional presence in the
                            | physical world, although I also sometimes dabble in arcane human activities like science
                            | and computers. And computer science. Joining the community is just about the best thing
                            | I’ve ever done. It has helped me make so many incredible friends over the years, and I
                            | would not be the person I am today without them. I am super excited to be working with
                            | NCAS because it means I get the chance to give back to the community. Let’s go out there
                            | and do great things!
                    div(class='card-footer')
                        | Event administration is responsible for handling the scheduling, manpower, safety, and
                        | security needs for an event.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Guest Relations
                    div(class='card-body')
                        h1(class='card-title mb-4') Keplin
                        img(class='icon float-left' src='/img/director-icons/keplin.jpg' alt='Keplin')
                        p(class='card-text')
                            | Hi! I'm Keplin! It's so nice to meet you! Sometimes I like to dress up as a blue
                            | fox-husky or a blue accented German shepherd. To me, the best thing about the furry
                            | fandom are the wonderful and supportive people who compose it. I am super excited to do
                            | Guest Relations with NCAS because I hope to continue that tradition of care and support
                            | that I have come to know and love from our  fandom! When I am involved in fuzzy things,
                            | I work towards becoming a physician so I can help all sorts of people. Hope to meet you
                            | soon!
                    div(class='card-footer')
                        | Guest relations is responsible for overseeing the questions, concerns, and needs of guests
                        | during an event.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Marketing and PR
                    div(class='card-body')
                        h1(class='card-title mb-4') Maxx
                        img(class='icon float-left' src='/img/director-icons/maxx.jpg' alt='Maxx')
                        p(class='card-text')
                            | I’m a full time furry living my dream of bringing furries together. I work within the
                            | fandom and have my paw in my many furry things around North Carolina. My passion for
                            | social media goes beyond being a digital native and was my main focus while in college.
                            | Looking forward to brightening up your newsfeeds!
                    div(class='card-footer')
                        | Marketing is responsible for the research, planning, and implementation of marketing
                        | campaigns as well as all community and public relations efforts.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Media Production
                    div(class='card-body')
                        h1(class='card-title mb-4') Nullstrukt
                        img(class='icon float-left' src='/img/director-icons/nullstrukt.jpg' alt='Nullstrukt')
                        p(class='card-text')
                            | I officially found the fandom back in 2009, but was interested in anthro art and
                            | characters for as long as I could remember. Through the years of being in the fandom I
                            | have made some incredible friends and met so many awesome and inspiring people!
                            | Professionally I am a designer and developer by trade, and I also have been DJing for
                            | nearly as long as I've been in the fandom. I am super stoked to be helping establish some
                            | fun events for everyone and to be working with such a great group of folks!
                    div(class='card-footer')
                        | Media production is responsible for the recommendation, planning, and production of all types
                        | of media.

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Director of Organization Operations
                    div(class='card-body')
                        h1(class='card-title mb-4') Chezne
                        img(class='icon float-left' src='/img/director-icons/chezne.jpg' alt='Chezne')
                        p(class='card-text')
                            | Hello all! My name is Chezne. I was abducted by my friends to some weird event called
                            | Anthrocon back in 2003, fell in love with furry, and never looked back. There was a name
                            | for this 'animal people' concept I had, and other people liked it too? Sign me up! I've
                            | met so many great people and gained plenty of friends and opportunities thanks to this
                            | community. It's only right that I do what little I can to make it better for others.
                    div(class='card-footer')
                        | Organization operations is responsible for supporting the long term functions and regular
                        | business operations of NCAS.

            //div(class='col mb-4')
            //    div(class='card h-100')
            //        div(class='card-header') Director of <Division>
            //        div(class='card-body')
            //            h1(class='card-title mb-4') <Name>
            //            img(class='icon float-left' src='/img/director-icons/<img>.jpg' alt='<Name>')
            //            p(class='card-text')
            //                | <Bio>
            //        div(class='card-footer')
            //            | <Division description>

