extends /base

block content

    section(id='public-staff' title='Public Staff')

        h1 NCAS Staff.

        p

            | Our staff members make it possible for us to host conventions and events for the community. 
            | These are just a few of our staff members working to help make these events happen.


    section(id='community-relations' title='Community Relations')

        h1 Community Relations Team.

        div(class='row row-cols-1 row-cols-xl-2')
            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Lyra531
                        img(class='icon float-left' src='/img/public-staff/lyra.jpg' alt='Lyra')
                        p(class='card-text')
                            | My Name is Lyra, I am a member of the community relations team and head of BRFF marketing.
                            | Basically that means I help design graphics for events and make the posts for them on our various social media accounts.
                            | Outside of con work I enjoy kayaking and netflix binging. 

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-body')
                        h1(class='card-title mb-4') Crimson Legacy
                        img(class='icon float-left' src='/img/public-staff/crimson.jpg' alt='Crimson Legacy')
                        p(class='card-text')
                            | Im crimson legacy. Im part the stream team and I work with marketing as part of the team. 
                            | I help with creating content as well as promoting events for NCAS.