extends /base


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#covid-19-ncas') NCAS
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#covid-19-plan') Plan
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#covid-19-resources') Res.
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#covid-19-symptoms') Symptoms
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#covid-19-you') You


block content

    section(id='covid-19-header')

        h1 Dear fellow members of the furry community,
        p
            | We at NCAS have been monitoring the coronavirus (COVID-19) situation that is affecting the country, and
            | we would like to reassure you that we are watching the situation closely and are following all
            | recommendations from sources such as the Centers for Disease Control (CDC) and the World Health
            | Organization (WHO).
        p
            | It is important that we all take part in the effort to reduce the spread of COVID-19. Here are the steps
            | we are taking.

    section(id='covid-19-ncas')

        h1 Actions NCAS is taking
        p
            | We still plan on holding our convention, Bewhiskered, from October 02-04, 2020. Our staff will continue
            | to monitor the situation closely, and work with the hotel staff to ensure the safety of all members. In
            | the event that it becomes unsafe to hold the convention at that time, we will postpone the convention to
            | a later date.
        p
            | Effective immediately, all other in-person events have been postponed. They will resume once it is safe
            | to do so!


    section(id='covid-19-plan')

        h1 What Will Happen if Bewhiskered is Postponed
        ol
            li
                | We will announce any decision immediately via this website, our social media accounts, and our
                | Telegram channel and chat group.
            li
                | We will begin working on selecting a new date with the hotel. This date will likely be in 2021.
            li
                | All memberships purchased for the original date will be transferred to the new date automatically.
                | In addition, the refund deadline will be pushed back to meet the new date.
            li
                | Should you be unable to attend Bewhiskered at the new date, you may:
                ul
                    li
                        | Request a refund of your hotel deposit, if you have reserved a room, by contacting the
                        | hotel directly.
                    li
                        | Request a full refund of your membership, in accordance with the BWS refund policy.
                    li
                        | Request a partial refund of your membership (full refund minus processing fees).
                    li
                        | Donate your membership to the organization.


    section(id='covid-19-resources')

        h1 Helpful resources
        ul
            li #[a(href='https://www.who.int/emergencies/diseases/novel-coronavirus-2019') World Health Organization]
            li #[a(href='https://www.cdc.gov/coronavirus/2019-ncov/index.html') Centers for Disease Control and Prevention]
            li #[a(href='https://www.ncdhhs.gov/divisions/public-health/coronavirus-disease-2019-covid-19-response-north-carolina') North Carolina Department for Health and Human Services]
        p
            | Please use the above links to help educate yourself on the virus, knowledge is power!


    section(id='covid-19-symptoms')

        h1 Symptoms of COVID-19
        ul
            li Fever
            li Shortness of breath
            li Cough
            li Sore throat
            li Chills
            li Muscle pain
            li Loss of taste or smell
        p *If you develop these symptoms and/or if they worsen, please seek medical attention.


    section(id='covid-19-you')

        h1 Actions you can take
        ul
            li
                | Wash your hands with warm water and soap. This is more effective than hand sanitizer alone.
                | Hand sanitizer is good for temporary use while in public.
            li
                | Avoid touching your face, especially while in public places.
            li
                | Avoid gathering in public places.
            ul
                li
                    | The virus is best spread via respiratory droplets. Distances of 3-6ft and under have increased
                    | risk for transmission. Time is also a factor.
            li
                | Cough into one’s elbow.
            li
                | Reduce travel if able.
            li
                | Most importantly, if sick, stay home. Seek medical help.
        p
            | We encourage you to follow recommended best practices for social distancing. We know these are difficult
            | times, but our goal is to see everyone remain healthy and happy. As always, this wonderful community is
            | here for anyone that needs help or support.
        p
            | Thank you,
        p
            | Phillip Mills RPH (DocFoxJT/Checkers)
