extends /base


block content

  section

    h1 Privacy Policy

    h2 External Information Disclosure
    p
      | North Carolina Anthropomorphic Society retains legal identifying information
      | for the purpose of registration until the NCAS event is complete. Name,
      | Address, Billing Address, and Debit/Credit card information might be retained
      | by a third party; During the registering of attendance process, and for the
      | duration set forth by the third party's terms and conditions.