extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Animal Park at the Conservators Center

        p.
            NCAS will be retuning to our friends over at Animal Park!

        p.
            Animal Park at the Conservators Center is an educational nonprofit based in North Carolina that is dedicated
            to providing a specialized home for carnivore species. Attendees will receive a tour of the residents
            (fluffy animals) provided by the Animal Park staff.

        p.
            We will have some light refreshments and mingle for a little while.  Catch up with your friends and we will
            tour the facility!

        p.
            Sound fun? Everything you need to know can be found below!

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: December 18th, 2021.
            li Time: 1:30 - 4:30 PM EST.
            li
                | Location: #[a(href='https://g.page/AnimalParkNC') 676 E. Hughes Mill Road Burlington, NC 27217].
            li
                | Website: #[a(href='https://animalparknc.org/') Animal Park].
            li Registration: $20/person.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li
                | 1:30-3:30 PM EST - Arrive, check-in, and mingle.
            li
                | 3:30-4:30 PM EST - Tour.

    section(id='registration' title='Registration')

        h2 Registration

        P
            | You must register to attend this event.

        h3 Standard Registration
        ul
            li
                | Registration is available on
                |
                a(href="https://ncanthrosociety.regfox.com/ncas-animal-park-2021", title="Registration Page") RegFox.
            li
                | Deadline to register: 11:59 PM on December 4th. There will be no on-site registration.
            li.
                No refunds can be made after registration closes. To request a refund, please send us an email at
                #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org].

        h3 Voting Member Registration
        p
            | If you are a voting member, please check the voting member
            | Telegram chat for additional details.

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Is this event fursuit friendly?
        p.
            Fursuits are not recommended on the tour. The 2 hour mingle beforehand is fursuit friendly!

        h3 Where is the Animal Park located, and how do I get there?
        p.
            #[a(href='https://g.page/AnimalParkNC') 676 E. Hughes Mill Road Burlington, NC 27217]. Additional directions
            are available at #[a(href='https://animalparknc.org/visit/directions/') https://animalparknc.org/visit/directions/].

        h3 What do I need to bring or prepare for the event?
        ul
            li.
                Fill out the #[a(href='https://animalparknc.org/digital-tour-waiver-input/') tour waiver] in advance to
                save time.
            li.
                Wear good shoes - the tour path is gravel and is expected to be about 3/4 mile.
            li.
                Wear warm clothing - we will be outside for an afternoon in late December.
            li.
                Event is rain or shine - bring rain gear if rain is forecast.

        h3 Is the tour wheelchair accessible?
        p.
            The Animal Park is not wheelchair accessible; however, accessibility accommodations are available for
            visitors with mobility issues. Please notify NCAS in advance at
            #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org] if accommodations are needed.

        h3 Where do I park? What do I do once I've gotten there? Where are we meeting up?
        p.
            There is plenty of parking available in front of the gift shop/conference center building. We are meeting
            up on the deck of that building. If you enter through the gift shop you should be able to find us.
