extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

block content

    section(id='description' title='Event Description')

        h1 Virtual Art Meet

        p
            | Missing your local artists or itching to draw? Come join NCAS’s art night for some virtual fun! 

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: November 18th, 2020
            li Time: 6:00 - 9:00 PM EST.
            li
                | Location: https://aggie.io
            li
                | Website: https://aggie.io
            li Segments :

            ul
                li Pictionary
                li Commissioner from Hell

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li
                | 05:00-06:00 PM EST - Tech Check / Prep.
            li
                | 06:00-06:30 PM EST - Arrivals / Warm Up / Free Draw.
            li
                | 06:30-07:30 PM EST - Pictionary 
            li
                | 07:30-07:45 PM EST - Break
            li
                | 07:45-08:45 PM EST - Commissioner from Hell
            li
                | 08:45-09:00 PM EST - Wrap Up / Goodbyes                                                           
            li
                | 09:00-09:30 PM EST - Shut Down
