extends /base


block navbar-page-links
    
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-preamble').
            Preamble
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-pdn').
            PLEASE DO NOT
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-pd').
            PLEASE DO
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-health-and-safety').
            Health and Safety
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-violations') Violations
        li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#registered-sex-offenders').
            RSO
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-sanctions').
            Sanctions
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-responsibility').
            Responsibility
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#member-code-of-conduct-modifications').
            Modifications


block content

    section(id='member-code-of-conduct-preamble')

        h1 NCAS Member Code of Conduct

        table(class='table mt-4')
            tr
                td Short Summary
                td Standards of conduct for all NCAS members.
            tr
                td Scope
                td Board.
            tr
                td Contact
                td
                    | The NCAS Board of Directors, or any committee of the Board appointed to maintain the
                    | NCAS Code(s) of Conduct.
            tr
                td Revision
                td 0003
            tr
                td Last Revised
                td 2022-06-08


        h2 Purpose
        p.
            This North Carolina Anthropomorphic Society Inc. (“NCAS”, also the “Organization”) Member Code of Conduct is
            in place to ensure that all members may enjoy our events safely and to foster an environment of mutual trust
            and respect.

        h2 Scope
        p.
            This Code of Conduct is in effect for any Member of NCAS for as long they maintain Membership. This includes
            both virtual and in-person conduct: 1) while attending any NCAS sponsored or affiliated event and 2) outside
            of any NCAS sponsored or affiliated event for as long as Membership is maintained.

        h2 Additions and Addenda
        p.
            Additional Code(s) of Conduct documents or Event Rules may be applied in addition to or in addendum to
            regulations in this document depending on the tier of membership or other roles held within NCAS. In such a
            case as a conflict arises between such documents and this one, the addition or addendum shall supersede
            regulations of this document. In such a case as addenda conflict with each other, the superseding regulation
            shall be that which is from the most relevant role in regards to the situation or violation. Any questions
            or uncertainty on what regulation is in effect should be directed to the Policy Contact listed at the
            beginning of this document.

    section(id='member-code-of-conduct-pdn')

        h1 PLEASE DO NOT

        p.
            In general, any action which severely and adversely impacts NCAS events, venues, members, staff, volunteers,
            or the public is prohibited and is a violation of the Code(s) of Conduct.
        p.
            The following actions are prohibited and constitute a violation of the NCAS Member Code of Conduct. Any
            member found to have committed a violation of these conduct regulations is subject to the sanctions outlined
            in this Code. A claim of lack of awareness of any Code of Conduct or related procedures does not excuse any
            violations of such.

        ol(type='1')
            li.
                #[b Personal]
            ol(type='a')
                li.
                    #[b Disorderly Conduct.] Examples of disorderly conduct include but are not limited to the
                    following:
                ol(type='i')
                    li.
                        Engaging in conduct that disrupts or obstructs the orderly functioning of NCAS events, including
                        but not limited to:
                    ol(type='1')
                        li.
                            Shouting excessively above general area volume.
                        li.
                            Noises or music excessively above general area volume.
                        li.
                            Sitting in walkways or other areas of movement, ingress, and egress.
                    li.
                        Physical abuse, battery, fighting, and/or other physical contact that:
                    ol(type='1')
                        li.
                            Threatens or endangers the health or safety of another person.
                        li.
                            Puts another in reasonable apprehension or fear for their safety.
                        li.
                            Is used to coerce Organization membership.
                    li.
                        Verbal abuse, whether vocal or in text communication, threats, intimidation, harassment,
                        coercion, bullying/cyber bullying, and/or other conduct that:
                    ol(type='1')
                        li.
                            Threatens or endangers the health or safety of another person.
                        li.
                            Puts another in reasonable apprehension or fear for their safety.
                        li.
                            Is so severe or pervasive that it deprives an individual the benefits of any membership
                            event or activity.
                        li.
                            Is used to coerce Organization membership.
                    li.
                        Conduct or behavior that is obscene, including but not limited to public exposure of one’s own
                        sexual organs and voyeurism, including, but not limited to, video or other electronic voyeurism.
                    li.
                        Failure to comply with directions of NCAS event officials, moderators, or law enforcement
                        officers acting in the performance of their duties. Failure to identify oneself to these persons
                        when requested to do so.
                    li.
                        Intentional obstruction that unreasonably interferes with freedom of movement or emergency
                        egress (pedestrian or vehicular) on event grounds.
                    li.
                        Sleeping or camping in unapproved locations.
                    li.
                        Entering an athletic contest, dance, social, or other NCAS event without the proper credentials
                        for admission (e.g., ticket, identification, invitation).
                    li.
                        Circulating any advertising media without approval from proper NCAS officials or in a manner
                        that violates or is contrary to policies of NCAS and state or local law.
                    li.
                        Unauthorized recordings (audio/visual/other related devices) without permission of the
                        applicable NCAS official or individual being recorded. In recognition and support of the First
                        Amendment of the United States Constitution, freedom of speech and expression shall be
                        considered in investigating and reviewing these types of alleged conduct violations.
                li.
                    #[b Other personal behavior policies:]
                ol(type='i')
                    li.
                        #[b Expression.] NCAS is a private Organization. As such, acceptability of speech/expression is
                        at the Organization’s discretion. This means you cannot use the “Free Speech and Expression”
                        exemption to defend obscene, vulgar, discriminatory, or otherwise uncouth speech or expression.
                    li.
                        #[b Sexual Misconduct:] Please keep all consensual acts behind closed doors. Public displays of
                        affection in excess of what would be considered acceptable in a public space are strictly
                        prohibited in any general venue.
                li.
                    #[b Acts of Dishonesty.] Members of NCAS are expected to engage in their business in an ethical,
                    honest manner. Do not misrepresent yourself or NCAS in any way. Examples of specific prohibited
                    actions include but are not limited to the following:
                ol(type='i')
                    li.
                        Willfully furnishing false information about or to NCAS, its members, affiliates, etc.
                    li.
                        Forgery, alteration, or misuse of any NCAS Documents, records, or instruments of identification.
                    li.
                        Causing, condoning, or encouraging the dishonest completion of any NCAS records, documents, or
                        forms, printed or otherwise.
                    li.
                        Offering or causing to be offered any bribe or favor to an NCAS Staff, Volunteer, or Voting
                        member in order to influence a decision.
                li.
                    #[b Illegal Actions.] No illegal activities, as defined by local, state, or federal law, are
                    permitted by NCAS. Any and all illegal activities will be reported to the authorities and are
                    grounds for sanctions up to and including IMMEDIATE revocation of membership.
                ol(type='i')
                    li.
                        No alcohol for those under 21. No illegal drugs as defined by the State of North Carolina and
                        the US Federal Government. No prescription drugs shall be in the possession of those who do not
                        have a prescription for said drugs. This includes ingestion or otherwise “using” said drugs.
                        Violation(s) of this policy will result in a call to the police and an ejection from the event
                        space.
                    li.
                        Do not destroy or damage the event facilities, or any property belonging to NCAS. NCAS is not
                        responsible for any damage you cause to any event facilities or property.
                    li.
                        All forms of gambling are prohibited unless authorized by state law, the venue, and NCAS, and
                        only as provided explicitly in the event rules.
                li.
                    #[b Harassment:] NCAS aims to provide a safe space in which all attendees can feel welcome and
                    secure, regardless of race, gender identity, sexual orientation, nationality, disability, religion,
                    or age. If consent is not expressly given or is revoked, it is harassment. We have a zero-tolerance
                    stance on harassment, and will investigate all such claims seriously and thoroughly.
                ol(type='i')
                    li.
                        #[b Scope.] Harassment of any kind, including, but not limited to, physically or verbally
                        threatening, annoying, unwelcome attentions, stalking, pushing, lewd or generally offensive
                        behavior or language using sexually explicit or offensive language of conduct, or profanity,
                        obscene gestures or racial, religious, or ethic slurs will be considered harassment. Harassment 
                        over email, Telegram, Discord, or other digital platforms will be given the same weight as in-person 
                        harassment.
                    li.
                        #[b Hazing.] NCAS does not condone hazing in any form. Hazing is defined as any intentional,
                        negligent, or reckless action, activity or situation that causes or has the potential to cause
                        another pain, embarrassment, ridicule, or harassment, regardless of the individual’s willingness
                        to participate. Such actions and situations include, but are not limited to, the following:
                    ol(type='1')
                        li.
                            Forcing or requiring the consumption or deprivation of edible or non-edible solids, liquids,
                            alcohol or other substance.
                        li.
                            Forcing or requiring nudity or other acts of intimacy at any time.
                        li.
                            Forcing or requiring the violation of NCAS policies, Venue or Event rules, federal, state
                            or local law.
                    li.
                        #[b Sexual Harassment:] A Member of NCAS may not engage in unwelcome sexual advances or conduct
                        towards another Member, NCAS Staff, Volunteer, Venue Staff, Patron, or any others not defined in
                        this document. Sexual Harassment includes, but is not limited to, inappropriate or unwelcome:
                    ol(type='1')
                        li.
                            Comments (verbal or non-verbal, such as sign language) or gestures.
                        li.
                            Physical contact.
                        li.
                            Photography and/or recording.
                        li.
                            Handling of others’ cosplay, costumes, props or personal property.
            li.
                #[b Representation:] Misrepresentation or Impersonation of NCAS representatives, its events, its
                partners, or its affiliates is prohibited. Official representation is not to be conducted without prior
                explicit written consent from NCAS. Examples of specific prohibited actions include but are not limited
                to the following:
            ol(type='a')
                li.
                    Use, modification, or distribution of Organization intellectual property without prior
                    authorization.
                li.
                    Falsely representing Organizational roles, policies or status.
                li.
                    Accepting money or other items of value on behalf of NCAS, its events, its partners, or other
                    affiliates.
                li.
                    Invoicing or billing anyone on behalf of NCAS, the event, the charity, or other partner(s).
                ol(type='i')
                    li.
                        Do not spend money expecting to be reimbursed by the Organization without prior approval in
                        writing. NCAS is not obligated to reimburse members for funds spent without prior and
                        explicit authorization.
                li.
                    Members may not authorize an individual, group, or entity not under the direction and control of
                    NCAS to act as representatives of NCAS in any form or format.
            li.
                #[b Event Specific:] Some regulations, such as below, are specified as a baseline across all NCAS
                events. These regulations can be added to, amended, or excepted if explicitly stated within posted
                Event Rules for a particular NCAS hosted or affiliated event.
            ol(type='a')
                li #[b Tobacco, Vape, and Alcohol consumption.]
                ol(type='i')
                    li.
                        Consumption of tobacco products, including vapes, will not be allowed outside of a venue’s
                        marked smoking area.
                    li.
                        Consumption of alcoholic products are only allowed in venue approved areas, including hotel
                        rooms.
                li.
                    #[b Weapons.] Except as permitted by law, location, and event rules, possessing weapons as defined
                    in this regulation is strictly prohibited.
                ol(type='i')
                    li.
                        Prohibited devices include but are not limited to firearms, ammunition, explosives, dangerous
                        chemicals, air guns, sling shots, zip guns, knives with a blade of two inches or more from hilt
                        to blade tip, knives having a switchblade or automatic blade opener, blackjacks, bolo knives,
                        machetes, swords, spears, any club-type hand weapons, pyrotechnics, throwing stars, nunchucks,
                        throwing knives, or any objects or materials capable of causing and/or used by the offending
                        person to cause or threaten physical harm.
                li.
                    #[b Attire and Costumes.] Clothing, attire, costume elements, or apparel that is disruptive,
                    provocative, revealing, profane, vulgar, offensive, obscene, or unsafe is prohibited. This includes:
                ol(type='i')
                    li.
                        Exposed undergarments.
                    li.
                        See-through or excessively short, tight, or revealing clothes.
                    li.
                        Clothing with lewd, indecent or vulgar messages or illustrations.
                    li.
                        Clothing that advertises products or services that are illegal.
                    li.
                        Chains, spikes or other accessories that could be perceived as or used as a weapon.
                    li.
                        Any costume or attire so large, heavy, or cumbersome that the wearer cannot safely move without
                        the aid of another person.
                li.
                    #[b Police and Military Cosplay.] The following cosplay is prohibited:
                ol(type='i')
                    li.
                        Cosplay patterned off of any uniform actively used by a police department or military, or any
                        uniform that may be reasonably mistaken as such, including recent historical uniforms.
                    li.
                        Cosplay patterned off of any uniform relating to a government, movement, regime, or hate group
                        that is advocating for, has advocated for, or has carried out the restriction of human rights
                        or hate crimes.
                li.
                    #[b Props.] Props are generally permissible, however care must be taken in designing or selecting
                    props to carry at our events. The following are prohibited unless prior written exception is
                    obtained before bringing it into event space.
                ol(type='i')
                    li.
                        Any prop that can release a projectile of any kind, even squirt guns.
                    li.
                        Any prop that can be easily mistaken for a real weapon.
                    li.
                        Any bow/arrow or similar string tension combination that will allow the flight of a projectile.
                    li.
                        Any prop so large that a single person cannot safely carry it without endangering others or
                        damaging property.
                li.
                    #[b Solicitation.] Unauthorized solicitation generates excess waste, can detract from members’
                    enjoyment of events, and can potentially infringe on the rights or privacy of a member. As such,
                    the following actions are prohibited without prior written consent of NCAS or its affiliates:
                ol(type='i')
                    li.
                        Market research, surveys, or other methods of information-gathering.
                    li.
                        Distribution of flyers, handouts, or other informational material.
                    li.
                        Solicitation of tips, fees, or donations for any reason.Solicitation of tips, fees, or donations
                        for any reason.


    section(id='member-code-of-conduct-pd')

        h1 PLEASE DO

        p.
            The following are actions and behavior that are strongly encouraged and expected of Members. While we do not
            generally enact sanctions for not performing the below activities, failing to do them may result in a
            violation of the regulations in the sections above. We find the below activities and behavior crucial to
            enjoying your position as a Member as well as attending our events.

        ol(type='1')
            li.
                #[b Self Care:] Pushing yourself to the limit is not a badge of honor; a rested and comfortable member
                is a happy member!
            ol(type='a')
                li.
                    #[b Sanitation:] NCAS Venues provide restrooms for a reason; please use them accordingly. If an
                    event venue does not provide a restroom, it is your responsibility to take appropriate measures.
                    Please keep in mind that hygiene is not just for your benefit, it is for everyone else as well.
                    Soap is provided for a reason, please use it.
                li.
                    #[b Sustenance:] Eat when you need to. Sustaining yourself on cookies and soda is not advisable.
                    Please eat according to your dietary needs and get the proper amount of nutrition to sustain you.
                    Hydration is vital. Alcohol does not count. Please ensure you maintain a proper, healthy level of
                    hydration by drinking water.
                li.
                    #[b Sleep:] Sleeping is important; please do not neglect getting the proper amount of sleep.
            li.
                #[b Consent:] Please get consent before touching any person or their property; this includes NCAS
                equipment and the property of our venues. If it’s not yours or explicitly stated, ask first before
                touching.
            li.
                #[b Ethical Conduct.] Please act with integrity, honesty, respect, and kindness to everyone, this is for
                the good of the event/Organization, as well as your fellow sentient creatures.
            li.
                #[b Personal Property.] Please keep track of your personal belongings. NCAS, our venues, our partners,
                and our affiliates are not responsible or liable for any damage to or theft of personal property or
                vehicles. Keep an digilent eye on your belongings and take precautions to prevent them from being
                damaged or stolen.


    section(id='member-code-of-conduct-health-and-safety')

        h1 Health and Safety

        p.
            Membership with NCAS and attendance at NCAS events may be subject to additional provisions requiring that
            members either engage in or refrain from certain behaviors during situations which can materially affect the
            health and safety of its members, staff, volunteers, contractors/liaisons, or the general public. Violating
            these provisions constitutes a violation of the NCAS Member Code of Conduct.
        p.
            Such situations and provisions include, but are not limited to:

        ol(type='1')
            li.
                #[b Sickness or Epidemic:] In the event of an outbreak of a communicable disease with the potential to
                pose a risk to attendees at an event, NCAS members are expected to practice common courtesy and
                cleanliness. Even without an outbreak, we ask that members adhere to these provisions if they begin to
                feel ill while at one of our events.
            ol(type='a')
                li.
                    #[b Hand Washing.] Members must make an effort to wash their hands frequently, especially before
                    meals. In particular, we recommend following the CDC guidelines [1].
                li.
                    #[b Masks.] Members must wear effective masks in the event of an outbreak of respiratory transmitted
                    illness. While the effectiveness of a specific mask is hard to quantify, the style and material of
                    the mask worn must be recommended for use against the illness in question by the NCDHHS [2],
                    CDC [3], or WHO [4]. Masks must be worn properly, following all recommendations by the prior listed
                    organizations, and cover the nose and mouth.
                li.
                    #[b Covering Your Coughs.] Regardless of whether you are wearing a mask, members must make sure to
                    cover their mouth with a tissue or elbow. Do not use your hand. Members may wish to follow the CDC
                    guidelines [5].
                li.
                    #[b Social Distancing.] Social contact is a factor in the spread of disease. Members must make an
                    effort to maintain social distancing by limiting physical interactions like handshakes and hugs.
                li.
                    #[b Sanitization.] Members should take care to wipe down shared equipment and other objects after
                    use. Please remain cognizant that shared equipment may have been handled by someone prior to you.

        ol(class='reference-list')
            li
                a(href='https://www.cdc.gov/handwashing/when-how-handwashing.html').
                    https://www.cdc.gov/handwashing/when-how-handwashing.html
            li
                a(href='https://www.ncdhhs.gov/').
                    https://www.ncdhhs.gov/
            li
                a(href='https://www.cdc.gov/').
                    https://www.cdc.gov/
            li
                a(href='https://www.who.int/').
                    https://www.who.int/
            li
                a(href='https://www.cdc.gov/healthywater/hygiene/etiquette/coughing_sneezing.html').
                    https://www.cdc.gov/healthywater/hygiene/etiquette/coughing_sneezing.html

    section(id='registered-sex-offenders')
	
        h1 Registered Sex Offenders (RSOs)
        p.
            Registered sex offenders are not permitted to hold membership with NCAS unless a written exception has been approved 
            by the board of directors. To apply for an exception, please email our standard contact address. The determination will 
            be made on a case-by-case basis with preference for cases with documentation demonstrating the offense was nonviolent 
            and did not involve other individuals.

    section(id='member-code-of-conduct-violations')

        h1 Reporting violations, Investigation Process, Enforcement, and Appeals
        p.
            Please refer to the NCAS Policy document regarding policies and procedures for reporting a suspected
            violation of these regulations or event rules, reference and information on our investigation process,
            our procedures and policy on enforcement, and the process for appealing enforcement actions performed.
        p.
            To obtain this policy please contact the Policy Contact in the header of this document.

    section(id='member-code-of-conduct-sanctions')

        h1 Sanctions
        p.
            NCAS reserves the right to suspend or revoke, without refund, access to event spaces, attendance passes,
            or even memberships at any level. If any individual violates these regulations, breaks the rules of an
            NCAS event, or permits or encourages another to do so, they may be barred from the event, from as little
            as an hour up to the remainder of the event or even subsequent events. If an individual’s access,
            attendance, or membership is revoked they will be asked to leave any active NCAS event space immediately.
            If this request is refused or ignored the Organization will contact law enforcement to report criminal
            trespass and the individual will be banned from any future NCAS event or function.
        p.
            If the individual breaks the law – city, state or federal – they will be reported to the authorities and
            NCAS will assist those authorities as the Organization is legally able to do so.

    section(id='member-code-of-conduct-responsibility')

        h1 Responsibility and Indemnification
        p.
            Damage to venues and equipment owned by or contracted to NCAS, harm to another individual, or any other
            action which may result in a fine, fee, or charge levied is expressly prohibited. Members agree to indemnify
            NCAS and are responsible for any fine, fee, or charge resulting from their actions or the actions of a minor
            that they are responsible for during or in relation to an NCAS event. Further, members agree to hold
            harmless NCAS, its venues, its vendors, its contractors, and its content hosts from any claim for personal
            injuries or other damages or equity arising from attending NCAS events or in utilizing NCAS hosted services.

    section(id='member-code-of-conduct-modifications')

        h1 Modifications
        p.
            These Code(s) of Conduct may be modified from time to time by the NCAS Board of Directors, or any committee
            of the Board appointed to maintain the NCAS Code(s) of Conduct. Members are responsible for maintaining
            familiarity with the current Code(s) of Conduct. Acceptance and agreement is required to maintain membership
            and attendance at NCAS events. The current NCAS Member Code(s) of Conduct can be found at
            #[a(href='https://ncanthrosociety.org/code-of-conduct/member') https://ncanthrosociety.org/code-of-conduct/member].
