-
    const events = [

        // Regular events.
        // Events are automatically rendered sorted, but please add to the
        // list in descending order by end date for organization.
        // Daylight savings and time zones:
        // - First Sunday of November - Second Sunday of March: EST
        // - Second Sunday of March - First Sunday of November: EDT
        {
          title: 'NCAS DJ Night',
          img: {
            src: '/img/events/2022/09/dj-night.jpg',
            alt: 'NCAS DJ Night',
            sources: [{
              type: 'image/jpg',
                srcset: '/img/events/2022/09/dj-night.jpg'
            }],
          },
          times: [{
            start: new Date('2022-09-24 7:00 PM EDT'),
            end: new Date('2022-09-25 12:00 AM EDT'),
          }],
          buttons: [{
            link: 'https://www.mixcloud.com/NCAnthroSociety',
            text: 'NCAS Mixcloud',
          }],
          description: `
    Join us for a night of music as five of DJs put on a spectacular online show on Mixcloud! No registration needed
    for this online event, just a readiness to dance the night away with some awesome beats to guide you. DJs Ima, RyuJin, 
    Spike Papp, Nullstrukt and The Bearlet are your navigators on this journey of sound. Get ready to rock out and come join us
    for this special evening!

    This is a free event, and a Mixcloud account is not necessary (but great for following your favorite DJs!).
          `
        },
        {
          title: 'Bewhiskered 2022: A Furry Murder Mystery',
          img: {
            src: '/img/events/2022/bewhiskered/banner.png',
            alt: 'Bewhiskered Logo 22',
          },
            times: [{
                start: new Date('2022-10-21 12:00 AM EST'),
                end: new Date('2022-10-23 11:59 PM EDT'),
                allDay: true
            }],
            info: 'https://www.2022.bewhiskeredcon.org/',
            description: `
        Cassie is sending you, yes you, on a voyage to take on the case and save him. Can you help get Whisky off the hook and uncover the real fur behind the murders before it’s too late? 
            `
        },
        {
          title: 'Blue Ridge Furfare: The Great Outdoors!',
          img: {
            src: '/img/events/brff/2022/brff-great-outdoors.jpg',
            alt: 'Blue Ridge Furfare Logo',
          },
            times: [{
                start: new Date('2022-03-11 12:00 AM EST'),
                end: new Date('2022-03-13 11:59 PM EDT'),  // Timezone changes on 2021-03-13.
                allDay: true
            }],
            info: 'https://www.blueridgefurfare.com/',
            description: `
        Ready for a convention in Asheville, North Carolina? Pounce into a weekend of dance competitions, fursuit
        photography, and chill Asheville vibes.
            `
        },
        {
            title: 'Animal Park at the Conservators Center',
            img: {
                src: '/img/events/2021/12/animal-park.png',
                alt: 'Join us at the Animal Park!',
                sources: [{
                    srcset: '/img/events/2021/12/animal-park.png',
                    type: 'image/webp',
                }],
            },
            reg: {
                link: 'https://ncanthrosociety.regfox.com/ncas-animal-park-2021',
                options: [{
                    type: 'Standard',
                    price: '20.00',
                }],
            },
            times: [{
                start: new Date('2021-12-18 01:30 PM EST'),
                end: new Date('2021-12-18 04:30 PM EST'),
            }],
            address: {
                link: 'https://g.page/AnimalParkNC',
                text: '676 E. Hughes Mill Road Burlington, NC 27217',
            },
            highlights: [
                'Registration Deadline: 11:59 PM on December 4th.',
                'Waiver Required.',
            ],
            info: '/events/2021/12/animal-park',
            buttons: [
                {
                    link: 'https://animalparknc.org/digital-tour-waiver-input/',
                    text: 'Animal Park Waiver',
                },
                {
                    link: 'https://animalparknc.org/',
                    text: 'Animal Park',
                },
            ],
            description: `
    NCAS will be retuning to our friends over at Animal Park!

    Animal Park at the Conservators Center is an educational nonprofit based in North Carolina that is dedicated to
    providing a specialized home for carnivore species. Attendees will receive a tour of the residents (fluffy
    animals) provided by the Animal Park staff.

    You must register for this event. The deadline to register will be December 4th at 11:59pm. We need to give a
    headcount to Animal Park 2 weeks in advance! This means no at the door registration unfortunately.

    Be sure to fill out the Animal Park waiver in advance (link in the header).
            `
        },
        {
            title: 'Bewhiskered 2021: Prepare for Blast Off!',
            img: {
                src: '/img/events/bewhiskered-2020/bewhiskered-logo.png',
                alt: 'Bewhiskered Logo'
            },
            times: [{
                start: new Date('2021-11-12 12:00 AM EST'),
                end: new Date('2021-11-14 11:59 PM EST'),
                allDay: true,
            }],
            info: 'https://2020.bewhiskeredcon.org',
            description: `
    The NC Anthro Society is proud to bring you Bewhiskered 2021, a convention hosted by the furs of North Carolina
    for furs of all parts of the world. Located in the lovely Marriott at Research Triangle Park, Bewhiskered is in
    the heart of The Triangle and is just a few minutes drive away from the state’s capital and RDU airport.

    Our inaugural theme is “Blast Off” both for the convention’s official debut, and in honor of the 50th
    anniversary of Apollo 13. Come be whisked away by our mascots, Commander Whisky and Flight Engineer Cassie, as
    they prepare to take you on the launch of a lifetime in the only way they know how: a three day weekend full of
    friends, entertainment, and much much more.
            `
        },
        {
          title: 'NCAS Minecraft Night',
          img: {
            src: '/img/events/2021/10/minecraft.png',
            alt: 'NCAS Minecraft Night',
            sources: [{
              type: 'image/png',
                srcset: '/img/events/2021/10/minecraft.png'
            }],
          },
          times: [{
            start: new Date('2021-10-23 7:00 PM EDT'),
            end: new Date('2021-10-23 10:00 PM EDT'),
          }],
          buttons: [{
              link: 'https://discord.ncanthrosociety.com',
              text: 'Discord ',
          }],
          description: `
    Back by popular demand! NCAS will be hosting another Game Night on Oct 23rd at 7pm on the Discord ( Join the
    NCAnthroSociety Discord Server! ). We will playing games and having fun in a Minecraft Server!

    We will be hosting our Minecraft server once again. Keep progressing from last time! Don't feel like playing
    Minecraft? No worries, we can arrange other games too! Bring a game and make some friends!
          `,
        },
        {
          title: 'Carolina Renaissance Festival',
          img: {
            src: '/img/events/2021/10/renaissance-faire.jpg',
            alt: 'Jousters',
          },
          times: [{
            start: new Date('2021-10-16 10:00 AM EDT'),
            end: new Date('2021-10-16 5:30 PM EDT'),
          }],
          address: {
            text: '16445 Poplar Tent Rd, Huntersville, NC 28078',
            link: 'https://goo.gl/maps/fVxEAAFbiLUnyJkd9',
          },
          info: 'https://www.carolina.renfestinfo.com/',
          description: `
    October 16th at 10am, join your fellow furs from the Triad and Triangle as we spend a day at the Renaissance Faire!
    Meet up at the front at 10am if you want to explore as a group. There will be a group photo at 11:15 near the joust!
          `
        },
        {
          title: 'NCAS DJ Night',
          img: {
            src: '/img/events/2021/09/dj-night.jpg',
            alt: 'NCAS DJ Night',
            sources: [{
              type: 'image/webp',
                srcset: '/img/events/2021/09/dj-night.webp'
            }],
          },
          times: [{
            start: new Date('2021-09-18 8:00 PM EDT'),
            end: new Date('2021-09-19 12:00 AM EDT'),
          }],
          buttons: [{
            link: 'https://www.mixcloud.com/NCAnthroSociety/favorites/',
            text: 'NCAS Mixcloud',
          }],
          description: `
    Join us for a night of music as a team of DJs put on a spectacular online show on Mixcloud! No registration needed
    for this online event, just a readiness to dance the night away with some awesome beats to guide you. DJs Vinny,
    RyuJin, Spike Papp, and F3NN are your navigators on this journey of sound. Get ready to rock out and come join us
    for this special evening!

    This is a free event, and a Mixcloud account is not necessary (but great for following your favorite DJs!). Stay
    tuned for the event link!
          `,
        },
        {
          title: 'Wet n\' Wild',
          reg: {
            link: 'https://ncanthrosociety.regfox.com/ncas-wet-n-wild-visit-2021',
            options: [
              {
                type: 'Adult',
                price: '35.00',
              },
              {
                type: 'Child',
                price: '25.00',
              },
            ],
          },
          times: [{
            start: new Date('2021-08-28 12:00 PM EDT'),
            end: new Date('2021-08-28 6:00 PM EDT'),
          }],
          address: {
            link: 'https://g.page/wwepgreensboro?share',
            text: '3910 S Holden Rd, Greensboro, NC 27406',
          },
          info: '/events/2021/08/wet-n-wild',
          description: `
    Join our group for a day of slides and rides at Wet n’ Wild Waterpark in Greensboro. Take advantage of a reduced
    rate and the company of other furs!

    Please note, we must have at least 15 members to qualify for the group rate with Wet n' Wild. If there is not enough
    interest, we will postpone the trip to a later date. If there is, members will be charged after registration closes.
          `
        },
        {
          title: 'Cookout at Ritter Park',
          reg: {
            link: 'https://forms.gle/mQNWTmRugbDfKUjZ9',
          },
          times: [{
            start: new Date('2021-07-25 3:30 PM EDT'),
            end: new Date('2021-07-25 8:00 PM EDT'),
          }],
          address: {
            link: 'https://goo.gl/maps/jQqFxAQ3bdvKji2R7',
            text: '301 W Lochmere Dr, Cary, NC 27518. Rotary Shelter.',
          },
          info: '/events/2021/07/ritter-park-cookout',
          description: `
    Let’s enjoy the summer together! Join NCAS for an afternoon of food and activities at Ritter Park starting at
    3:30pm. Food, fun, and fursuits! Registration must be completed by 11:59 PM on July 20th.
          `,
        },
        {
          title: 'NCAS Arts -n- Crafts Night',
          img: {
            sources: [
              '/img/events/2021/07/arts-n-crafts-event.png'              
            ],
            src: '/img/events/2021/07/arts-n-crafts-event.png',
            alt: 'Square with Text',
          },
          times: [{
            start: new Date('2021-07-09 7:30 PM EDT'),
            end: new Date('2021-07-09 9:00 PM EDT'),
          }],
          buttons: [{
              link: 'https://discord.ncanthrosociety.com',
              text: 'Discord ',
          }, {
              link: 'https://aggie.io/',
              text: 'Aggie.io',
          }],
          description: `
    Join NCAS on July 9th at 7:30pm for a night of crafting fun, drawing games, and casual art! We will all be chatting 
    over [Discord](https://discord.ncanthrosociety.com) and drawing on [Aggie.io](https://aggie.io/) if you want to get used to the tools before hand!
          `,
        },
        {
          title: 'Pub Trivia Night',
          img: {
            src: '/img/events/2021/06/pub-trivia-night.jpg',
            alt: 'Pub Trivia Night',
          },
          times: [{
            start: new Date('2021-06-11 7:00 PM EDT'),
            end: new Date('2021-06-11 9:00 PM EDT'),
          }],
          buttons: [{
            link: 'https://discord.ncanthrosociety.com',
            text: 'NCAS Discord'
          }],
          description: `
    Think you’re knowledgeable on a variety of topics?  Ready for a trivia night that reminds you of the local pub?
    NCAS has you covered!  Grab your friends and come join your fellow furs on the
    [NCAS Discord](https://discord.ncanthrosociety.com) on June 11th starting at 7pm for a night of fun and trivia.
          `
        },
        {
          title: 'Minecraft Game Night',
          img: {
            src: '/img/events/2021/04/minecraft-game-night.jpg',
            alt: 'Minecraft Game Night',
            sources: [{
              srcset: '/img/events/2021/04/minecraft-game-night.webp',
              type: 'image/webp',
            }],
          },
          times: [{
            start: new Date('2021-04-16 7:00 PM EDT'),
            end: new Date('2021-04-16 10:00 PM EDT'),
          }],
          buttons: [{
              link: 'https://discord.ncanthrosociety.com',
              text: 'NCAS Discord'
          }],
          description: `
    Join us on April 16th at 7pm for an evening of gaming on the [NCAS Discord](https://discord.ncanthrosociety.com).
    We will be hosting our own Minecraft server, but you can also break out and play your own games, or just hang out
    and chat.
          `
        },
        {
          title: 'NCAS LIVE - Questionable Choices',
          img: {
            src: '/img/events/streams/ncas-stream.jpg',
            alt: 'Cassie Streaming',
          },
          times: [{
            start: new Date('2021-03-24 7:00 PM EDT'),
            end: new Date('2021-03-24 9:30 PM EDT'),
          }],
          buttons: [{
            link: 'https://www.twitch.tv/ncanthrosociety',
            text: 'Twitch',
          }, {
            link: 'https://www.youtube.com/channel/UCpjFQ6oZSFAwIqq7uK6Di0A/live',
            text: 'YouTube',
          }, {
            link: 'https://www.pscp.tv/NCAnthroSociety/1PlJQPnAAenGE',
            text: 'Periscope'
          }],
          description: `
    We’re rebooting our regular stream event with some crazy QUESTIONABLE CHOICES! Come enjoy the fun as we try out some
    new ideas and revisit the most questionable activities.

    We’ll be throwing some presenters under the bus with Keynote Karaoke, we’ll give YOU control of your own remote
    control fursuiter, and to finish it off, we’ve found three crazy artists willing to take on the Commissioner from
    Hell!
          `
        },
        {
          title: 'Irish Pub Karaoke',
          times: [{
            start: new Date('2021-03-17 7:00 PM EDT'),
            end: new Date('2021-03-17 10:00 PM EDT'),
          }],
          buttons: [{
            link: 'https://discord.ncanthrosociety.com',
            text: 'NCAS Discord'
          }],
          description: `
    Join us on St. Patrick’s day for a night of singing and good times! Come participate in our karaoke night on the
    [NCAS Discord server](https://discord.ncanthrosociety.com) on March 17th at 7 pm! Whether you want to perform or
    just watch it will be a great time!
          `
        },
        {
            title: 'Blue Ridge Furfare (BRFF): The Great Outdoors',
            img: {
                src: '/img/events/brff/brff-logo.png',
                alt: 'Blue Ridge Furfare Logo'
            },
            times: [{
                start: new Date('2021-03-12 12:00 AM EST'),
                end: new Date('2021-03-14 11:59 PM EDT'),  // Timezone changes on 2021-03-14.
                allDay: true
            }],
            info: 'https://www.blueridgefurfare.com/',
            description: `
    Ready for a convention in Asheville, North Carolina? Pounce into a weekend of dance competitions, fursuit
    photography, and chill Asheville vibes.
            `
        },
        {
            title: 'Discord Dinner Meet',
            times: [{
                start: new Date('2021-02-24 7:00 PM EST'),
                end: new Date('2021-02-24 9:00 PM ESt'),
            }],
            address: {
                link: 'https://discord.com/invite/bCRXhFR',
                text: 'NCAS Discord'
            },
            description: `
    Let's face it, eating alone isn't always fun. We humans are social animals, and we crave interaction! But thanks to
    the Coronavirus, we've become castaways in our own homes.

    So let's take a break for a night, use our technology to help us stay sane, and enjoy a nice meal together over
    Discord! We can share gossip, swap recipes, and maybe even play some party games!
            `
        },
        {
            title: 'Improv Night',
            times: [{
                start: new Date('2021-02-09 7:00 PM EST'),
                end: new Date('2021-02-09 9:00 PM ESt'),
            }],
            address: {
                link: 'https://discord.com/invite/bCRXhFR',
                text: 'NCAS Discord'
            },
            description: `
    Miss having your funny bone tickled? Or maybe you're the jokester riling up your friends? Come join the NCAS Improv
    Night on Feb 9th at 7pm on the [NCAS Discord](https://discord.com/invite/bCRXhFR). There will be some fun comedy
    games to play or you can sit back and laugh!
            `
        },
        {
            title: 'Virtual New Years Eve Party',
            times: [{
                start: new Date('2020-12-31 9:00 PM EST'),
                end: new Date('2021-01-01 12:30 AM EST')
            }],
            address: {
                link: 'https://discord.com/invite/bCRXhFR',
                text: 'NCAS Discord'
            },
            description: `
    Ready to put 2020 behind you and welcome 2021? Stay home with NCAS and celebrate the holiday! Join us on the
    [NCAS Discord](https://discord.com/invite/bCRXhFR) to host an array of activities and different streams. Come
    celebrate the countdown with cute critters.
            `
        },
        {
            title: 'NC Furs Discord Game Night',
            times: [{
                start: new Date('2020-12-16 06:00 PM EST'),
                end: new Date('2020-12-16 09:00 PM EST')
            }],
            address: {
                link: 'https://discord.gg/cDcr4AM2kv',
                text: 'NC Furs Discord'
            },
            description: `
    Join us for an evening of fun gaming with NCAS Staff members hosted on the
    [NC Furs Discord](https://discord.gg/cDcr4AM2kv) We will be playing a variety of games and hanging out
    virtually - either join us for a game we are hosting or find some friends to play something of your choosing!
            `
        },
        {
            title: 'Virtual Art Meet',
            times: [{
                start: new Date('2020-11-18 06:00 PM EST'),
                end: new Date('2020-11-18 09:00 PM EST')
            }],
            address: {
                link: 'https://aggie.io',
                text: 'Aggio.io'
            },
            info: '/events/2020/11/virtual-art-meet',
            description: `
    Missing your local artists or itching to draw? Come join NCAS’s art night for some virtual fun!
            `
        },
        {
            title: 'Fuzzy Logic Escape Room',
            times: [{
                start: new Date('2020-10-28 08:00 PM EST'),
                end: new Date('2020-10-28 09:00 PM EST')
            }, {
                start: new Date('2020-10-30 08:00 PM EST'),
                end: new Date('2020-10-30 09:00 PM EST')
            }],
            highlights: ['Hosted virtually via Zoom.'],
            info: '/events/2020/10/fuzzy-logic',
            description: `
    COVID isolation got you feeling blue? Wish you could do a group activity with your friends from the comfort of
    your own home? Like Escape Rooms? Well, do we have good news for you! The infamous Fuzzy Logic Escape Room that
    has been the staple of Furry Conventions across the US makes its way to your living room! Join up to 8 friends
    as you all work together to solve fun, mind-bending puzzles in the allotted time! If you think you got what it
    takes, then join us as NCAS presents: Fuzzy Logic Escape Room... Quarantine Edition!
            `
        },
        {
            title: 'Virtual Art Meet',
            times: [{
                start: new Date('2020-08-26 6:00 PM EDT'),
                end: new Date('2020-08-26 9:00 PM EDT')
            }],
            description: `
    Join us for an evening of digital drawing and more! We will start off with a free draw period to let everyone get
    used to [Draw.chat](https://draw.chat/). Then we will play Pictionary and Commissioner from Hell. We will talk over
    [Discord](https://discord.gg/bCRXhFR) during the meet so feel free to join even if you don't want to draw.
            `
        },
        {
            title: 'Raleigh ALS Walk',
            times: [{
                start: new Date('2020-04-18 08:30 AM EDT'),
                end: new Date('2020-04-18 02:00 PM EDT')
            }],
            address: {
                link: 'https://goo.gl/maps/cgiZwsQiUvLWYrAw8',
                text: 'Halifax Mall, 300 N Salisbury St, Raleigh, NC 27601'
            },
            info: '/events/2020/04/raleigh-als-walk',
            buttons: [{
                link: 'https://mizfit-toyz-box.myshopify.com/products/bombdog-ncas-asl-shirt',
                text: 'Team T-shirts'
            }, {
                link: 'https://forms.gle/AUTXSzFQPvQZzSAd6',
                text: 'Walk',
            }, {
                link: 'http://webnc.alsa.org/goto/friendsoftony',
                text: 'Fundraiser'
            }],
            description: `
    [Friends of Tony](http://webnc.alsa.org/goto/friendsoftony) is a team formed in support and honor of Tony
    “Dogbomb” Barrett, a member of the anthropomorphic community who was diagnosed with Amyotrophic Lateral
    Sclerosis (ALS).

    ALS is a progressive neurodegenerative disease that affects nerves in the brain and spinal cord. It slowly robs
    the body of its ability to walk, speak, swallow, and breathe. The life expectancy of a person with ALS averages
    2 to 5 years from the time of diagnosis. The Friends of Tony  are dedicated to aiding the ALS association in
    their goal of bringing hope, raising awareness, and providing resources and services to families affected by ALS
    free of charge.

    Join the Friends of Tony as they walk in memory of Dobgomb on April 18, 2020 at the Raleigh ALS Walk hosted by
    the ALS Association. Check-in is at 08:30 AM, and the walk starts at 10:00 AM. The walk length is 2 miles.
    Fursuits are very much welcome!
            `
        },
        {
            title: 'Blue Ridge Furfare (BRFF)',
            img: {
                src: '/img/events/brff/brff-logo.png',
                alt: 'Blue Ridge Furfare Logo'
            },
            times: [{
                start: new Date('2020-03-12 12:00 AM EST'),
                end: new Date('2020-03-14 11:59 PM EDT'),
                allDay: true,
            }],
            address: {
                link: 'https://goo.gl/maps/3VgbyaoCkDyy399M9',
                text: 'Asheville, NC'
            },
            info: 'https://www.blueridgefurfare.com/',
            description: `
    Ready for a convention in Asheville, North Carolina? Pounce into a weekend of dance competitions, live art
    demonstrations, fursuit photography, and chill Asheville vibes. Expect a few unique features like a Tea Social,
    Artist Olympics, and a Pajama Party!

    BRFF is proudly presenting their first year guest of honor Orlando Fox. Find her at

    * [afoxdraws.com](http://afoxdraws.com/index.html)
    * [Twitter @Orlando_Fox](https://twitter.com/Orlando_Fox)
    * [Fur Affinity](https://www.furaffinity.net/user/thedoggygal)
            `
        },
        {
            title: 'Wheels Fun Park',
            reg: {
                link: 'https://ncanthrosociety.regfox.com/something-moving',
                options: [{
                  type: 'Pre-Registration',
                  price: '20.00'
                }, {
                  type: 'On-Site Registration',
                    price: '25.00'
                }]
            },
            times: [{
                start: new Date('2020-03-07 10:00 PM EST'),
                end: new Date('2020-03-07 11:59 PM EST'),
            }],
            address: {
                link: 'https://goo.gl/maps/16wFFN8XHktbqgys5',
                text: '715 N. Hoover Road, Durham, NC 27703'
            },
            info: '/events/2020/03/wheels-fun-park',
            description: `
    Who doesn't like skating?! NCAS is proud to host our first (and hopefully one of many) skating meets! Join your
    fellow furs on the roller skating rink at Wheels Fun Park, where we will have the entire skating rink AND arcade to
    ourselves. Fursuits are more than welcome on the skating rink, and we will even be playing some fursuit games.
            `
        },
        {
            title: 'Greensboro Science Center and SkyWild',
            reg: {
                link: 'https://ncanthrosociety.regfox.com/something-science',
                options: [{
                    price: '14.00'
                }, {
                    type: 'SKYWILD',
                    price: '42.00'
                }]
            },
            times: [{
                start: new Date('2020-02-08 1:00 PM'),
                end: new Date('2020-02-08 5:00 PM')
            }],
            address: {
                link: 'https://goo.gl/maps/U6jkkdVopNKeFZwz6',
                text: '4301 Lawndale Drive, Greensboro, NC 27455',
            },
            info: '/events/2020/02/greensboro-science-center',
            description: `
    Join NCAS as we tour the Greensboro Science Center on February 8th, 2020! In addition to the awesome museum, the
    science center offers both an aquarium and a zoo! If you’re feeling adventurous, the treetop adventure park
    SKYWILD will have you climbing, flying, and sliding through the trees.

    Please note that SKYWILD registration includes general registration. SKYWILD registration is only available during
    pre-registration.
            `
        },
        {
            title: 'A Trip to the Conservators Center',
            reg: {
                link: 'https://ncanthrosociety.regfox.com/something-wild',
                options: [{
                    price: '20.00',
                }],
            },
            times: [{
                start: new Date('2019-12-21 1:00 PM EST'),
                end: new Date('2019-12-21 4:00 PM EST')
            }],
            address: {
                link: 'https://g.page/AnimalParkNC',
                text: '676 E. Hughes Mill Road Burlington, NC 27217'
            },
            info: '/events/2019/12/conservators-center',
            description: `
    NCAS is proud to present our first event: A trip to the Conservators Center!

    The Conservators Center, Inc. (CCI) is an educational nonprofit based in North Carolina that is dedicated to
    providing a specialized home for carnivore species. Attendees will receive a tour of the residents (fluffy animals)
    provided by the CCI staff. Join us after the tour for a holiday party hosted by NCAS. Drinks and snacks will be
    provided; please feel free to bring a dish of your own to share! We'll also be playing some holiday themed games!
    Yay!

    Have a tacky holiday sweater you want to break out and show off? Then you should participate in our tacky Holiday
    Sweater contest! You’ll be able to show off your tackiest Holiday sweater, and win prizes in the process! The top 3
    winners will be awarded prizes! If that doesn't get you excited, we don’t know what else will.

    But that's not all! After our tour and holiday party, our friends in the area, the Triad Furs, will be hosting their
    annual holiday party at the Speakeasy Tavern in Greensboro. You will need to register for this event separately,
    but they have graciously invited all NCAS members to come party with them! The event will be catered, and have a
    full bar & bartender.
            `
        },
    ]

    // Bucket and sort all events.
    const recurringEvents = []
    const upcomingEvents = []
    const pastEvents = []
    for (const event of events) {
        if (event.recurring) recurringEvents.push(event)
        else if (!isPastEvent(event)) upcomingEvents.push(event)
        else pastEvents.push(event)
    }
    upcomingEvents.sort(compareEventTimes)  // Sort ascending.
    pastEvents.sort((a, b) => compareEventTimes(b, a))  // Sort descending.
