extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

block content

    section(id='description' title='Event Description')

        h1 Wet n' Wild

        p.
            Join our group for a day of slides and rides at Wet n’ Wild Waterpark in Greensboro! Take advantage of a
            reduced rate and the company of other furs!

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: August 28th, 2021.
            li Time: 12:00 - 6:00 PM EDT.
            li.
                Location: #[a(href='https://g.page/wwepgreensboro?share') 3910 S Holden Rd, Greensboro, NC 27406].
            li.
                Website: #[a(href='https://www.emeraldpointe.com/') https://www.emeraldpointe.com/].
            li Registration:
                ul
                    li Adult: $35.00/person.
                    li Child: $25.00/person.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li.
                11:30 AM - 12:00 PM EDT - Arrival and check-in.
            li.
                12:00 PM - 6:00 PM EST - Waterpark time!

    section(id='registration' title='Registration')

        h2 Registration

        p.
            Please note, we must have at least 15 members to qualify for the group rate with Wet n' Wild. If there is
            not enough interest, we will postpone the trip to a later date. If we do meet our goal of 15 registrations,
            you will be charged after registration closes on August 13th.

        h3 General Registration
        ul
            li.
                Registration is available on #[a(href="https://ncanthrosociety.regfox.com/ncas-wet-n-wild-visit-2021", title="Registration Page") RegFox].
            li.
                Deadline to register: 11:59 PM on August 13th.
            li.
                Members will only be charged after pre-registration closes, and no refunds can be made. To cancel your
                registration before then, email #[a(href='mailto:contact@ncanthrosociety.org') contact@ncanthrosociety.org].

        h3 On-Site Registration
        ul
            li.
                Did you miss our pre-registration? You're welcome to tag along with us anyway! However, you'll need to
                purchase your registration through Wet n' Wild directly.

        h3 Voting Member Registration
        p.
            If you are a voting member, please check the voting member
            Telegram chat for additional details.
