// Navbar style
@import 'variables.scss';

.footer {
  height: $footer-height;
  color: $ncas-40-grey;
  background-color: $secondary-background-color;
  border-top: 3px solid $accent-color;
  text-align: center;
  font-size: $footer-font-size;
}
