// Navbar style
@import 'variables.scss';

.footer {
  height: $footer-height;
  color: $ncas-40-grey;
  background-color: $secondary-background-color;
  border-top: 3px solid $accent-color;
  text-align: center;
  font-size: $footer-font-size;
  padding-top: 5px;

  .icon-box {
    margin-top: 10px;
    margin-bottom: 10px;
    .fab {
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        color: $ncas-teal;
      }
    }
  }
}
