// Index page style
@import 'variables.scss';

.content {

  color: $primary-font-color;
  min-height: $content-height-computed;

  &:before {
    background: $primary-background-color $background-image no-repeat center fixed;
    content: '';
    z-index: -1;
    width: 100%;
    height: $content-height-computed;
    margin: 0 -20 0;
    position: absolute;
    background-size: 90%;
    -webkit-filter: blur($bg-blur);
    -ms-filter: blur($bg-blur);
    filter: blur($bg-blur);
    opacity: $bg-opacity;
  }

  h1 {
    position: center;
    width: 60%;
    margin: 40px auto 40px auto;
    text-align: center;
    opacity: 90%;
  }

  p {
    color: $secondary-font-color;
    width: 60%;
    text-align: left;
    padding: 20px;
    margin: 20px auto 20px auto;
    //opacity: 0.8;
    transition-duration: 0.5s;
  }

  //p:hover {
  //  opacity: 1;
  //  background-color: $primary-background-color;
  //  transition-duration: 1s;
  //}

}
