// Main website style
@import 'index.scss';
@import 'navbar.scss';
@import 'footer.scss';

body {

  @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  color: $primary-font-color;
  background-color: $primary-background-color;
  font-size: $primary-font-size;

  .container-fluid {
    padding-left: $main-container-padding;
    padding-right: $main-container-padding;
    margin: 20px auto 20px auto;
  }

}
