// Navbar style
@import 'variables.scss';

body {
  padding-top: $nav-height;
}

#mainNav {
  margin-bottom: $nav-height;

  .navbar-brand {
    img {
      height: $nav-height;
    }

  }

  .nav-link {
    //.active {
      border-bottom: 0.25rem solid $ncas-purple;
    //}
  }
}
