// Navbar variables

$nav-height: 50px !default;

// NCAS color palette
$ncas-black: rgba(0, 0, 0, 1);
$ncas-white: rgba(1, 1, 1, 1);
$ncas-blue: rgba(34, 100, 169, 1);
$ncas-90-grey: rgba(230, 230, 230, 1);
$ncas-60-grey: rgba(153, 153, 153, 1);
$ncas-40-grey: rgba(103, 103, 103, 1);
$ncas-purple: rgba(100, 86, 170, 1);

// Current temporary color pallette, still to be determined by media team

$primary-font-size: 18px;
$footer-font-size: 14px;
$footer-height: 100px;
$primary-background-color: white !default;
$secondary-background-color: $ncas-90-grey !default;
$primary-font-color: #222 !default;
$secondary-font-color: #444 !default;
$accent-color: $ncas-40-grey !default;

// This image is temporary for now.
$background-image: url('../img/NCAS_Logo_Website-Background.png');
$bg-opacity: 0.1;
$bg-blur: 10px;
