// Navbar variables

$nav-height: 50px !default;

// Current temporary color pallette, still to be determined by media team
$primary-background-color: #eee !default;
$secondary-background-color: #eaeaea !default;
$primary-font-color: #222 !default;
$secondary-font-color: #444 !default;
$accent-color: #e2e2f2 !default;

// This image is temporary for now.
$background-image: url(https://w.wallhaven.cc/full/q6/wallhaven-q66y67.jpg);
$bg-opacity: 0.1;
$bg-blur: 20px;
