extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Reg

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#dogbomb") Dogbomb

block content

    section(id='description' title='Event Description')

        h1 Something for Dogbomb - Raleigh ALS Walk

        p
            | #[a(href='http://webnc.alsa.org/goto/friendsoftony') Friends of Tony] is a team formed in
            | support and honor of Tony “Dogbomb” Barrett, a member of the anthropomorphic community
            | who was diagnosed with Amyotrophic Lateral Sclerosis (ALS).
        p
            | ALS is a progressive neurodegenerative disease that affects nerves in the brain and spinal
            | cord. It slowly robs the body of its ability to walk, speak, swallow, and breathe. The
            | life expectancy of a person with ALS averages 2 to 5 years from the time of diagnosis. The
            | Friends of Tony  are dedicated to aiding the ALS association in their goal of bringing
            | hope, raising awareness, and providing resources and services to families affected by ALS
            | free of charge.
        p
            | Join the Friends of Tony as they walk in memory of Dobgomb on April 18, 2020 at the
            | Raleigh ALS Walk hosted by the ALS Association. Check-in is at 08:30 AM, and the walk
            | starts at 10:00 AM. The walk length is 2 miles. Fursuits are very much welcome!

        p
            | There will also be an ALS Walk kickoff on February 27 focused on sponsors, long time contributors,
            | volunteers, care givers, and more. Come join the ALS Association and the Friends of Tony, meet your fellow
            | teammates, interact with other teams, and learn about new research and treatment development in the fight
            | to kick ALS in the butt. Food and beverages will be provided. Registration is required so that the ALS
            | Association can plan accordingly. Registration is free!

        h2 Fursuiter safety!

        p
            | In any situation, if you are in dire need of air/water and feeling uncomfortable, please note any
            | handlers nearby immediately, get help to remove your costume and rest. If you just need to pop your head
            | for a break, we kindly ask you to please look for location that is decently private to do so.


    section(id='details' title='Details')

        h2 Details

        h3 ALS Walk Kickoff
        ul
            li Date: Thursday, February 27, 2020.
            li Time: 06:30 PM - 08:30 PM EST.
            li Location: #[a(href='https://goo.gl/maps/8GbHNtoYBs7apVHB7') Stalls Medical Cary 7980 Chapel Hill Rd, Cary NC 27513].

        h3 ALS Walk
        ul
            li Date: Saturday, April 18, 2020.
            li Time: 08:30 AM - 02:00 PM EST.
            li Location: #[a(href='https://goo.gl/maps/cgiZwsQiUvLWYrAw8') Halifax Mall, 300 N Salisbury St, Raleigh, NC 27601].
            li Website: #[a(href='http://webnc.alsa.org/goto/friendsoftony') Friends of Tony].

    section(id='schedule' title='Schedule')

        h2 ALS Walk Schedule

        ul
            li 08:30 AM - 10:00 AM EST - Check-in.
            li 10:00 AM - 12:00 PM EST - Walk.
            li 12:00 PM - 02:00 PM EST - Hangout and pack up.


    section(id='registration' title='Registration')

        h2 Registration

        P
            | Registration is required for the ALS Walk Kickoff! The ALS Association needs a headcount because they will
            | be providing food and beverage. Please register by filling out our
            | #[a(href='https://forms.gle/MBUBBsgE5svorKfx8') sign-up sheet].

        p
            | Registration for the ALS Walk is not required. However, we do ask that you
            ol
                li
                    | Fill out our
                    | #[a(href='https://forms.gle/MBUBBsgE5svorKfx8') sign-up sheet]
                    | so we can get a headcount of who plans on attending.
                li
                    | Register on the Friends of Tony ALS Association #[a(href='http://webnc.alsa.org/goto/friendsoftony') fundraiser page]
                    | to show support for the team.

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 What is the ALS Walk?
        p
            | It is the Annual fundraiser event to fight against ALS in Raleigh, North Carolina. Amyotrophic Lateral
            | sclerosis (ALS) is a progressive, fatal neuromuscular disease that slowly robs the body of its ability to
            | walk, speak, swallow and breathe. The life expectancy of a person with ALS averages 2 to 5 years from the
            | time of diagnosis. A group of local furs attended the 2019 ALS walk as team "Friend of Tony" to honor
            | Dogbomb. They are doing it again this year.

        h3 Do I need to register to the team in order to attend the walk?
        p
            | While registration is not required for attending the walk, we ask that you please do register.
            | Besides honoring Dogbomb, raising funds for ALS research will help speed up a possible cure being found,
            | and up current ALS fighters' survival rates.

        h3 I would like to join the fundraiser too. How do I become a part of the team?
        p
            | Wonderful! Not only do the funds we raise goes to research for a cure, they will also be used to help
            | local ALS patients and their needs. Whether or not you can make it to the walk, please register to the
            | team "Friends of Tony" #[a(href='http://webnc.alsa.org/goto/friendsoftony') here] to help spread the word
            | about the fundraiser! If you can make it to the walk, we will see you there!

        h3 Where do I park for the ALS Walk?
        p
            | For general attendees the lot next to NC museum of Natural Science/ NC museum of History is the closest
            | to the walk site. The address is #[a(href='https://goo.gl/maps/9oHN3j5XHkuQ5RnA8') 101 N Wilmington St, Raleigh, NC 27601],
            | and the two entrance are located on East Jones Street, and East Edenton Street.
        p
            | For folks with special needs or physical difficulty, please utilize parking lot next to Phillips
            | Building - street address: #[a(href='https://goo.gl/maps/PsPSN82vr7f32vyJ9') 109 E North St, Raleigh, NC 27601].
            | The association does need to reserve some spots ALS patients and their family, so please try to search for
            | a parking space elsewhere if you are able!
        p
            | Street parking is free in Raleigh downtown on weekends, but please read the sign to ensure you actually
            | parked at a safe spot that allows free public parking on the day of the event.
        p
            | We strongly suggest you try show up about or before 8:00 AM, and take advantage to secure a parking space
            | by the museums!

        h3 What do I do once I've gotten there?/Where are we meeting up?
        p
            | The Halifax mall is located north of the North Carolina Legislative Building. Please walk up towards the
            | Legislative Building after you've parked and walk around the building to the either side. The grass field
            | on the other side of the bridge is Halifax Mall.
        p
            | We will meet at the team tent. Actual tent location is currently TBD, but if there is no change, our tent
            | will be at the same spot as last year, which is directly south of the volunteer tent. Please look for
            | giant animal people and where they came from if you think you are lost!

        h3 How long is the walk?
        p
            | About 2 miles.

        h3 Is ALS walk fursuit friendly?
        p
            | Yes. But, please be mindful if your character expresses/associates with anything dark, or shows signs of
            | death (example: vulture, raven, zombie, showing fleshes and bones etc.). We ask that you please keep such
            | outfits / costumes at home.

            | The team will have a huge white tent to store fursuits and to change in, and NCAS will provide water.
            | We will need fursuit spotters at the walk, please let fursuiters know if you are available and willing to
            | assist them on the day of the event (ratio 1 handler : 2~3 fursuiters).

        h3 What happens if it rains?
        p
            | We will walk rain or shine. If you are bringing your fursuit, please use your best judgement on whether
            | or not to put on the suit depending on the weather

        h3 I am a fursuiter, is okay to approach other walk attendees from different teams?
        p
            | Please use common sense when approaching the public. Look for signs as to whether your presence is
            | welcome or not. If people acknowledge you and want to get closer to you, or even want a photo with you,
            | that's a "yes." Otherwise, please give people space.

        h3 Is the ALS walk dog friendly?
        p
            | Friendly dogs on leashes are welcome to participate! Please make sure to clean up after your K-9 friends!

        h3 Is there a theme for this event?
        p
            | Yes, the theme is Superhero! Please bring out all your Superhero outfit and props, be the superhero to
            | fight off ALS on the walk day!

        h3 What do I need to do to prepare or bring to the event?
        p
            | Yourself!!!
        p
            | We also recommend making a sign to honor Dogbomb and to fight ALS, and bringing your fursuit, hydration,
            | and extra cash for: ALS swag, snacks to share, money if we go do group meal.

    section(id='dogbomb' title='Dobgomb')

        h2 Dogbomb

        p
            | Tony “Dogbomb" Barrett who was a former ALS patient, and a huge influence on bringing positivity to others
            | through sharing caring words, and also acting silly in his fursuit in our community. He passed away due
            | to ALS, and we miss him dearly. We want to honor him by showing support to our local ALS chapter.

