extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 Greensboro Science Center

        p
            | Join NCAS as we tour the Greensboro Science Center on February 8th, 2020! In addition to
            | the awesome museum, the science center offers both an aquarium and a zoo! If you’re
            | feeling adventurous, the treetop adventure park SKYWILD will have you climbing, flying,
            | and sliding through the trees.

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: Saturday, February 08, 2020.
            li Time: 01:00 PM - 05:00 PM EST.
            li Location: #[a(href='https://goo.gl/maps/U6jkkdVopNKeFZwz6') 4301 Lawndale Drive, Greensboro, NC 27455]
            li Website: #[a(href='https://www.greensboroscience.org/') Greensboro Science Center]
            li Registration:
                ul
                    li General Pre-registration: $14.00. Closes on Friday, February 7th, 2020 at 11:59 PM.
                    li SKYWILD Pre-registration: $42.00. Closes Saturday, February 1st, 2020 at 11:59 PM.
                    li General On-site Registration: $14.00. 12:00 PM - 12:30 PM, Febrary 8th.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li 12:00 PM - 12:30 PM - On-site registration.
            li 12:00 PM - 01:00 PM - Arrival and check-in.
            li 01:00 PM - 05:00 PM - Greensboro Science Center.
            li 12:30 PM - 01:30 PM - SKYWILD preparation.
            li 01:30 PM - 03:30 PM - SKYWILD course.

    section(id='registration' title='Registration')

        h2 Registration

        P
            | Please note that SKYWILD registration includes general
            | registration. SKYWILD registration is only available during pre-registration.

        h3 General Member Registration
        ul
            li Pre-registration is available on #[a(href='https://ncanthrosociety.regfox.com/something-science', title='Regfox') RegFox].
            ul
                li General Pre-registration: $14.00. Closes on Friday, February 7th, 2020 at 11:59 PM.
                li SKYWILD Pre-registration: $42.00. Closes Saturday, February 1st, 2020 at 11:59 PM.
            li General On-site Registration: $14.00.
            ul
                li Open from 12:00 PM - 12:30 PM, February 8th.
                li Registration will be at the meetup location by the entrance.

        h3 Voting Member Registration
        p
            | If you are a voting member, please check the voting member
            | Telegram chat for additional details.

        h3 Refunds
        p No refunds can be made after pre-registration closes.
        ul
            li For SKYWILD, at 11:59 PM on February 1st.
            li For general registration, at 11:59 PM on February 7th.
        p To request a refund, please send us an email at #[a(href='mailto:contact@ncanthrosociety.com') contact@ncanthrosociety.com].


    section(id='faq' title='FAQ')

        h2 FAQ

        h3 Is the Greensboro Science Center fursuit friendly?
        p
            | Fursuits and other cosplay are not allowed at this event for the safety of the animals and other guests.
            | Thank you for understanding.

        h3 How should I prepare for the event?
        p
            | Bring comfortable clothes and good shoes for walking. The science center is partially outside, so make
            | sure you dress for the weather.

        h3 Where are we meeting up?
        p
            | We will be meeting up just outside the science center entrance near the admissions stand. Look for a sign
            | with the NCAS logo! You can find a map #[a(href='https://www.greensboroscience.org/visit/hours/documents/GSC%20Map%208.5x11%20January%202020.pdf') here].
