extends /base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#description") Description

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#details") Details

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#schedule") Schedule

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#registration") Registration

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#faq") FAQ

block content

    section(id='description' title='Event Description')

        h1 NCAS Presents: Wheels Fun Park

        p
            | Who doesn’t like skating?! NCAS is proud to host our first (and hopefully one of many)
            | skating meets! Join your fellow furs on the roller skating rink at Wheels Fun Park, where
            | we will have the entire skating rink AND arcade to ourselves. Fursuits are more than
            | welcome on the skating rink, and we will even be playing some fursuit games.

    section(id='details' title='Details')

        h2 Details

        ul
            li Date: Saturday, March 07, 2020.
            li Time: 10:00 PM - 12:00 AM EST.
            li Location: #[a(href='https://goo.gl/maps/16wFFN8XHktbqgys5') 715 N. Hoover Road, Durham, NC 27703].
            li Website: #[a(href='https://wheelsfamilyfunpark.com/') https://wheelsfamilyfunpark.com/].
            li Registration
            ul
                li Pre-Registration: $20.00.
                li On-Site Registration: $25.00.

    section(id='schedule' title='Schedule')

        h2 Schedule

        ul
            li 09:45 PM - 10:00 PM EST - Arrival and check-in.
            li 10:00 PM - 12:00 AM EST - Skate and arcade.

    section(id='registration' title='Registration')

        h2 Registration

        h3 General Pre-Registration
        ul
            li Registration is available on #[a(href="https://ncanthrosociety.regfox.com/something-moving", title="Registration Page") RegFox].
            li Total: $20.00.
            li Closes: Friday, March 06, 2020 at 11:59 PM.

        h3 General On-Site Registartion
        ul
            li Total: $25.00.

        h3 Voting Member Registration
        p
            | If you are a voting member, please check the voting member
            | Telegram chat for additional details.

        h3 Refunds
        p
            | No refunds can be made after pre-registration closes. To request a refund, please send us an email at
            | #[a(href='mailto:contact@ncanthrosociety.com') contact@ncanthrosociety.com].

    section(id='faq' title='FAQ')

        h2 FAQ

        h3 What is the Wheels Fun Park?
        p
            | Wheels Fun Park is a roller skating center located in Durham, NC. We have their skating rink and arcade
            | reserved for two hours!

        h3 Is Wheels Fun park fursuit friendly?
        p
            | Yes! They have agreed to let us have fursuits out on the skating rink. We ask that you do not bring tails
            | or other fursuit items that will drag on the floor, because they pose a safety risk to skaters.

        h3 Where is the Wheels Fun Park located? How do I get there?
        p #[a(href='https://goo.gl/maps/16wFFN8XHktbqgys5') 715 N. Hoover Road, Durham, NC 27703].

        h3 What do I need to do to prepare or bring to the event?
        p
            | Bring yourself, your fursuit (optional), and your skates (optional)! Skate rentals are also available
            | at the venue.

        h3 Does my registration include skate rental?
        p Yes!
