extends /pug/templates/base

block navbar-page-links

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#nc-groups") Groups

    li(class="nav-item")
        a(class="nav-link js-scroll-trigger" href="#feature") Feature

block content

    section(id='nc-groups' title='NC Groups')

        h1 NC Anthro Groups

        div(class='row row-cols-1 row-cols-xl-2')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Boone Furs
                    div(class='card-body')
                        h5(class='card-title').
                            Centered around Boone in Watauga County and surrounding areas.
                        p(class='card-text').
                            Mostly just a local group chat but we do meet on occasion!
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://t.me/joinchat/Uzt6NWHaoRInP6f2')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Northeast North Carolina (NENC)
                    div(class='card-body')
                        h5(class='card-title').
                            Corolla to Greenville, and everywhere in between.
                        p(class='card-text').
                            We are the Northeast North Carolina Furries! From Corolla to Greenville, we welcome you to
                            our beaver-built group! 🦫
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://t.me/+BI_18Gwuk8UwY2Fh')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Triad furs
                    div(class='card-body')
                        h5(class='card-title').
                            Greensboro, Winston-Salem, Highpoint
                        p(class='card-text').
                            The Triad Furs is a group which holds regular furry meets in Greensboro, Winston-Salem, Highpoint
                            and surrounding communities. They try to hold at least one group activity every month, on the third
                            Saturday, and they setup several dinner meets a month on weekday evenings.
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://www.meetup.com/Greensboro-Furmeets-Meetup/')
                                    i(class='fas fa-3x fa-link' title='Website/Meetup')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://t.me/TriadFurs')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://twitter.com/TriadFurs')
                                    i(class='fab fa-3x fa-twitter' title='Twitter')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://bsky.app/profile/triadfurs.bsky.social')
                                    i(class='fa-solid fa-cloud fa-3x' title='Bluesky')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://discord.gg/S3SrkeC')
                                    i(class='fa-brands fa-3x fa-discord' title='Discord')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://vrc.group/TRIAD.7627')
                                    i(class='fa-solid fa-3x fa-vr-cardboard' title='VRChat')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Western North Carolina (WNC) Furs
                    div(class='card-body')
                        h5(class='card-title').
                            Centered around Asheville in Buncombe County
                        p(class='card-text').
                            The Western North Carolina Furs are located in and around Asheville, NC. They try to have
                            a fun activity planned at least once a month!
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://t.me/wncfurs')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://www.facebook.com/groups/WNCFurs/')
                                    i(class='fab fa-3x fa-facebook' title='Facebook Group')

            div(class='col mb-4')
                div(class='card h-100')
                    div(class='card-header') Port City Furries
                    div(class='card-body')
                        h5(class='card-title').
                            Cape Fear region - Wilmington and surrounding counties
                        p(class='card-text').
                            The Port City Furries are an East Coast group dedicated to serving furries and fostering
                            community engagement within the Cape Fear region. They host regular monthly meets, along with
                            a range of scheduled and impromptu events including movie and game nights, anime evenings,
                            Cars & Coffee meetups, and other social gatherings throughout the area.
                    div(class='container')
                        div(class='row')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://t.me/portcityfurries')
                                    i(class='fab fa-3x fa-telegram' title='Telegram Chat')
                            div(class='col text-center mb-4')
                                a(class='icon-link' target='_blank' href='https://barq.app/c/anML0wc')
                                    i(class='fa fa-3x fa-users' title='Barq')

            //div(class='col mb-4')
            //    div(class='card h-100')
            //        div(class='card-header') Group Name
            //        div(class='card-body')
            //            h5(class='card-title').
            //                Location
            //            p(class='card-text').
            //                Description
            //        div(class='container')
            //            div(class='row')
            //                div(class='col text-center mb-4')
            //                    a(class='icon-link' target='_blank' href='')
            //                        i(class='fas fa-3x fa-link' title='Link')

    section(id='feature' title='Feature')

        h1 Want to be Featured Here?

        p.
            NCAS partnered groups are verified and vetted anthropomorphic groups operating in or serving the North
            Carolina community. All partnered groups must have clear rules and moderation practices, a
            SFW (minor-friendly) space, and a reputation for maintaining and supporting their services.

        p.
            Are you a representative of a group that wants to be featured here? We would love to work with you! Please
            send us an email at #[a(href='mailto:community@ncanthrosociety.org') community@ncanthrosociety.org] to start
            the process. Your email should include:
        ul
            li A description of your group that we can use on our website and in promotions.
            li An image we can use on our website and in promoting your group.
            li The geographical region your group serves.
            li Links to your group’s rules, code of conduct, terms of service, etc.
            li Links to your group’s social media, chats, website, and other spaces you would like to be featured.

        p.
            If approved, your partnered group may also request for NCAS to advertise your group and its events and even
            for support in hosting and running events.
