extends /pug/templates/base


block navbar-page-links

    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-preamble').
            Preamble
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-pdn').
            PLEASE DO NOT
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-pd').
            PLEASE DO
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-health-and-safety').
            Health and Safety
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-violations').
            Violations
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-sanctions').
            Sanctions
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-responsibility').
            Responsibility
    li(class='nav-item')
        a(class='nav-link js-scroll-trigger' href='#vendor-code-of-conduct-modifications').
            Modifications


block content

    section(id='vendor-code-of-conduct-preamble')

        h1 NCAS Vendor Code of Conduct Addendum

        table(class='table mt-4')
            tr
                td Short Summary
                td Code(s) of conduct addendum for Members who are vendors at an event.
            tr
                td Scope
                td Vendors at an NCAS event.
            tr
                td Contact
                td.
                    The NCAS Board of Directors, or any committee of the Board appointed to maintain the
                    NCAS Code(s) of Conduct.
            tr
                td Revision
                td 0002
            tr
                td Last Revised
                td 2021-03-31

        h2 Purpose
        p.
            This North Carolina Anthropomorphic Society, Inc. (“NCAS”, also the “Organization”) Vendor
            Code of Conduct Addendum, in addition to the required NCAS Member Code of Conduct, is in
            place to ensure our vendors can profitably enjoy our events safely and to foster an environment
            of mutual trust and respect.

        h2 Scope
        p.
            This Code of Conduct Addendum is in addition to the sections found in the NCAS Member Code
            of Conduct for any Member or Voting Member while acting in any Vendor capacity. This
            includes both virtual and in-person conduct: 1) while attending any NCAS sponsored or affiliated
            event, 2) outside of any NCAS sponsored or affiliated event for as long as Membership is
            maintained.

        h2 Definitions
        p.
            Vendor: A vendor is either a member or an agreed third party permitted to provide products,
            services, or entertainment within a specified event or activity for NCAS and its attending
            members.

    section(id='vendor-code-of-conduct-pdn')

        h1 PLEASE DO NOT

        p.
            The following actions are conduct regulation additions and addendums to the NCAS Member
            Code of Conduct relevant for Vendor. These actions and activities are prohibited and constitute
            a violation of the North Carolina Anthropomorphic Society Inc. (“NCAS”) Vendor Member Code
            of Conduct Addendum.
        p.
            Any Vendor found to have committed a violation of these conduct regulations is subject to the
            sanctions outlined in this document. A claim of lack of awareness of any Code of Conduct or
            related procedures does not excuse any violations of such.

        ol(type='1')
            li #[b Noncompliance.]
            ol(type='a')
                li.
                    Failure to follow rules or instructions from the binding vendor agreement.
                li.
                    Failure to correctly collect and remit sales tax or pay income taxes from
                    transactions with NCAS or its members.
                li.
                    Block entry or exit routes with equipment or inventory.
                li.
                    Loiter in or attempt re-entry of the vendor space after hours.
            li.
                #[b Unauthorized or illegal vending.]
            ol(type='a')
                li.
                    Subletting or transferring of your vendor space to a non-registered vendor.
                li.
                    Selling anything you don’t have the legal right to sell. This includes creative work
                    to which you do not own the copyright.
                ol(type='i')
                    li.
                        While we will expect some due diligence for all reports that come in,
                        credible reports that come with some kind of proof will be investigated. As
                        such, if what you are selling is not your work, please make sure to have
                        some form of written approval to sell the item or service.
                li.
                    Advertise or sell products / services which are restricted for sale by the event
                    rules, venue, and local or federal government.
                li.
                    Sell adult rated materials, products, or services unless are specifically allowed for
                    in the event rules and under instructions in vendor agreements.
                ol(type='i')
                    li.
                        If allowed, adult materials must not be visible to or accessible by minors.

    section(id='vendor-code-of-conduct-pd')

        h1 PLEASE DO

        p.
            The following are actions and behaviors that are strongly encouraged and expected of Vendor.
            While we do not generally enact sanctions for not performing the below activities, failing to do
            them may result in a violation of the regulations in the sections above. We find the below
            activities and behaviors crucial to enjoying your position as a Member as well as attending our
            events.

        ol(type='1')
            li.
                #[b Compliance.]
            ol(type='a')
                li.
                    Collect and remit sales and income tax as required by the state of North Carolina.
            li.
                #[b Personal items.]
            ol(type='a')
                li.
                    Take personal and important items with you when you leave any vendor space.
                    NCAS is not responsible for your personal property and some spaces will be
                    restricted access outside operating hours.
                li.
                    Keep your vendor space clean and sanitary.
            li.
                #[b Professionalism.]
            ol(type='a')
                li.
                    Act in a professional manner.
                li.
                    Talk with NCAS Vendor Relations staff if you have questions / concerns about a
                    particular vendor policy or if you have an issue with a fellow vendor.
                li.
                    Keep in mind that as an accepted vendor your behavior reflects on NCAS and
                    the community.

    section(id='vendor-code-of-conduct-health-and-safety')

        h1 Health and Safety
        p.
            Refer to the NCAS Member Code of Conduct document.

    section(id='vendor-code-of-conduct-violations')

        h1 Reporting violations, Investigation Process, Enforcement, and Appeals
        p.
            Refer to the NCAS Member Code of Conduct document.

    section(id='vendor-code-of-conduct-sanctions')

        h1 Sanctions
        p.
            Violations of the terms of this Addendum will result in sanctions found in the Member Code of
            Conduct as well as potential further sanctions and consequences as detailed here at the
            discretion of NCAS vendor relations or security staff.
      
        ul
            li.
                Revocation of vendor agreement without refund or further payment.
            li.
                Removal of products, services, or advertisements from any event spaces that do not
                meet code of conduct, event rule restrictions, or are illegal.

    section(id='vendor-code-of-conduct-responsibility')

        h1 Responsibility and Indemnification
        p.
            Refer to the NCAS Member Code of Conduct document.

    section(id='vendor-code-of-conduct-modifications')

        h1 Modifications
        p.
            Refer to the NCAS Member Code of Conduct document.
